//////////////////////////////////////////////////////////
////  CTA Feature | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  CTA Feature | Styles
//////////////////////////////////////////////////////////

.cta-feature {

  font-family: $font-family-sans-serif;

  .heading {
    line-height: 1.1;
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
    a, img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .link {
    &:hover {
      text-decoration: none;
    }
  }

  .row--inner {
    margin-bottom: -20px;
    [class^="col-"] {
      margin-bottom: 20px;
    }
  }

  &__heading {
    margin: 0 auto;
    padding: 15px 0 42px;
    text-align: center;
    font-size: 8.5vw;
    span {
      color: rgba( var(--theme-colour-blue), 1 );
    }
  }

  &__item {
    position: relative;
    &-cta,
    &-heading {
      color: #fff;
    }
    &-cta {
      margin-top: 24px;
    }
    &-heading {
      font-size: 7.25vw;
      width: 80%;
      margin: 0 auto;
    }
    &-image {}
    &-content {
      display: flex;
      width: 100%;
      height: 100%;
      flex-flow: column;
      position: absolute;
      top: 0;
      left: 0;
      justify-content: center;
      align-content: center;
      text-align: center;
      z-index: 10;
    }
  }

  @include media-breakpoint-up(sm) {

    &__heading {
      padding: 52px 0;
    }

    &__item {
      &-cta {
        margin-top: 28px;
      }
      &-heading {
        font-size: 7.5vw;
      }
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    .link {
      &__title {
        font-size: 1.95312vw;
      }
    }

    &__heading {
      padding: 72px 0;
    }

    &__item {
      &-cta {
        margin-top: 32px;
      }
      &-heading {
        font-size: 7.75vw;
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .link {
      &__title {
        font-size: 1.5121vw;
      }
    }

    &__heading {
      padding: 46px 0px 52px;
      font-size: 4.5vw;
    }

    &__item {
      &-cta {
        margin-top: 16px;
      }
      &-heading {
        font-size: 3vw;
        width: 90%;
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    .link {
      &__icon {
        height: 18px;
      }
      &__title {
        font-size: 1.25vw;
      }
    }

    &__heading {
      padding: 66px 0px 72px;
      font-size: 4.5vw;
    }

    &__item {
      &-cta {
        margin-top: 16px;
      }
      &-heading {
        font-size: 3vw;
        width: 90%;
      }
    }

  } // min width xl

} // .cta-feature
