//////////////////////////////////////////////////////////
////  Image Feature | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Image Feature | Styles
//////////////////////////////////////////////////////////

.image-feature {

  &__grid {
    display: flex;
    width: 100%;
    flex-flow: column;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    a, img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__item {
    position: relative;
    width: 100%;
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {

    &__grid {
      flex-flow: row nowrap;
    }

    @for $i from 1 through 3 {
      [data-item-count="#{$i}"] {
        .image-feature {
          &__item {
            width: 1/$i * 100%;
          }
        }
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

} // .cta-feature
