//////////////////////////////////////////////////////////
////  Text Feature | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Text Feature | Styles
//////////////////////////////////////////////////////////

.text-feature {

  .heading {
    font-size: 8vw;
    font-weight: 500;
    & + .message {
      margin-top: 32px;
    }
  }

  .message {
    margin: auto;
    font-size: 3.75vw;
  }

  &__main {
    margin: auto;
    text-align: center;
    padding: 78px 0 88px;
    width: 75%;
  }

  @include media-breakpoint-up(sm) {

    &__main {
      padding: 78px 0 88px;
      width: 70%;
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    &__main {
      padding: 78px 0 88px;
      width: 70%;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .heading {
      font-size: 4.5vw;

      & + .message {
        margin-top: 28px;
      }
    }

    .message {
      width: 55%;
      font-size: 2vw;
    }

    &__main {
      padding: 78px 0 88px;
      width: 100%;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__main {
      padding: 107px 0 118px;
    }

  } // min width xl

} // .cta-feature
