@each $name, $value in $theme-colors {

  $background: rgba( var(--theme-colour-#{$name}), 1 );
  $color: rgba( var(--theme-colour-charcoal), 1 );

  @if blue == $name {
    $color: rgba( var(--theme-colour-white), 1 );
  }

  @if charcoal == $name {
    $color: rgba( var(--theme-colour-white), 1 );
  }

  [data-colour-theme="#{$name}"] {
    background: $background;
    color: $color;
  }

}
