@import '../flexible-sections/cta-feature';
@import '../flexible-sections/image-feature';
@import '../flexible-sections/text-feature';

:root {
  --theme-heading-dot-size: 1.35vw;
  --theme-heading-dot-size--lg: 0.8vw;
}

.flexible-content {

  margin-top: var(--theme-header-height-total);

  .circle {
    background: rgba( var(--theme-colour-blue), 1 );
    height: var(--theme-heading-dot-size);
    width: var(--theme-heading-dot-size);
    margin-left: calc( 0.5 * var(--theme-heading-dot-size) );
    border-radius: 100%;
    display: inline-block;
  }

  &__section {
    margin: 0;
    padding: 0;
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {

    .circle {
      height: var(--theme-heading-dot-size--lg);
      width: var(--theme-heading-dot-size--lg);
      margin-left: calc( 0.5 * var(--theme-heading-dot-size--lg) );
    }

  } // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

  @include media-breakpoint-up(xxl) {} // min width xxl

}
