@font-face {
  font-family: aktiv-grotesk;
  src: url("../fonts/AktivGrotesk_WCorp_Rg.woff2") format("woff2"), url("../fonts/AktivGrotesk_WCorp_Rg.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: aktiv-grotesk;
  src: url("../fonts/AktivGrotesk_WCorp_Md.woff2") format("woff2"), url("../fonts/AktivGrotesk_WCorp_Md.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: aktiv-grotesk;
  src: url("../fonts/AktivGrotesk_WCorp_Bd.woff2") format("woff2"), url("../fonts/AktivGrotesk_WCorp_Bd.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
