html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family-sans-serif;
  font-weight: normal;
  // font-size: to-vw(16, xs);
  font-size: 13.333px;
  color: map-get($theme-colors, charcoal);
  line-height: calc(22 / 16);
}

a {
  color: map-get($theme-colors, charcoal);
  transition: all 0.3s ease-in-out;

  &:hover {
    text-decoration: underline;
    color: map-get($theme-colors, blue);
  }
}

$spacers: (
  0: 0,
  1: ($spacer * 0.25),
  2: ($spacer * 0.5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 5)
);

@include media-breakpoint-down(xs) {
  .row:not(.no-gutters) {
    margin-right: -$ggh-xs;
    margin-left: -$ggh-xs;
  }

  .row:not(.no-gutters) > .col,
  .row:not(.no-gutters) > [class*="col-"] {
    padding-right: $ggh-xs;
    padding-left: $ggh-xs;
  }
}

.container-fluid {
  padding-right: $om-xs;
  padding-left: $om-xs;

  &.full-bleed {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
  }
}

.container-limit {
  @include media-breakpoint-up(xl) {
    max-width: 1424px;
  }
}

.component {
  &.full-bleed-mobile {
    @include media-breakpoint-down(xs) {
      margin-right: -$om-xs + $ggh-xs;
      margin-left: -$om-xs + $ggh-xs;
      max-width: calc(100% + #{$om-xs - $ggh-xs} * 2);
      flex-basis: calc(100% + #{$om-xs - $ggh-xs} * 2);
    }

    @include media-breakpoint-only(sm) {
      margin-right: to-vw(-$outer-margin, sm) + $ggh;
      margin-left: to-vw(-$outer-margin, sm) + $ggh;
      max-width: calc(100% + #{to-vw($outer-margin, sm) - $ggh} * 2);
      flex-basis: calc(100% + #{to-vw($outer-margin, sm) - $ggh} * 2);
    }
  }

  &.full-bleed { // to-do -- make a looping function in mixins
    @include media-breakpoint-only(md) {
      margin-right: to-vw(-$outer-margin, md) + $ggh;
      margin-left: to-vw(-$outer-margin, md) + $ggh;
      max-width: calc(100% + #{to-vw($outer-margin, md) - $ggh} * 2);
      flex-basis: calc(100% + #{to-vw($outer-margin, md) - $ggh} * 2);
    }

    @include media-breakpoint-only(lg) {
      margin-right: to-vw(-$outer-margin, lg) + $ggh;
      margin-left: to-vw(-$outer-margin, lg) + $ggh;
      max-width: calc(100% + #{to-vw($outer-margin, lg) - $ggh} * 2);
      flex-basis: calc(100% + #{to-vw($outer-margin, lg) - $ggh} * 2);
    }

    @include media-breakpoint-only(xl) {
      margin-right: to-vw(-$outer-margin, xl) + $ggh;
      margin-left: to-vw(-$outer-margin, xl) + $ggh;
      max-width: calc(100% + #{to-vw($outer-margin, xl) - $ggh} * 2);
      flex-basis: calc(100% + #{to-vw($outer-margin, xl) - $ggh} * 2);
    }
  }
}

.row.d-flex {
  @include media-breakpoint-up(sm) {
    max-height: calc(330vh);
  }

  @include media-breakpoint-up(lg) {
    max-height: calc(350vh);
  }

  @include media-breakpoint-up(xl) {
    max-height: calc(410vh);
  }
}

.theme-dark { //used for banner only
  color: $white;

  body.scrolled & {
    .nav-pinned .nav-link,
    .navbar-menu-icon {
      color: map-get($theme-colors, charcoal);
    }
  }

  body:not(.scrolled) & {
    .nav-pinned .nav-link,
    .navbar-menu-icon {
      color: $white;
    }
  }

  body.scrolled &,
  body:not(.scrolled) & {
    .nav-pinned .current-menu-item .nav-link {
      border-bottom-color: $white;
    }
  }
}

.theme-lightgrey {
  // background-color: map-get($theme-colors, lightgrey);
  color: map-get($theme-colors, charcoal);

  &.section {
    background: none;
  }

  & > .section--bkg,
  & > .component--bkg {
    background-color: map-get($theme-colors, lightgrey);
  }
}

.theme-light { //used for banner only
  color: map-get($theme-colors, charcoal);
}

.bkg-lightgrey { //used for banner only
  background-color: map-get($theme-colors, lightgrey);
}

.theme-red {
  // background-color: map-get($theme-colors, red);
  color: $white;

  a {
    color: $white;

    &:hover {
      color: map-get($theme-colors, yellow);
    }
  }

  &.section {
    background: none;
  }

  & > .section--bkg,
  & > .component--bkg {
    background-color: map-get($theme-colors, red);
  }
}

.theme-blue {
  // background-color: map-get($theme-colors, blue);
  color: map-get($theme-colors, charcoal);

  &.section {
    background: none;
  }

  & > .section--bkg,
  & > .component--bkg {
    background-color: map-get($theme-colors, blue);
  }

  .btn-text:hover {
    color: $white !important;

    &::after {
      color: $white !important;
    }
  }
}

.theme-charcoal {
  // background-color: map-get($theme-colors, charcoal);
  color: $white;

  &.section {
    background: none;
  }

  & > .section--bkg,
  & > .component--bkg {
    background-color: map-get($theme-colors, charcoal);
  }
}

.theme-white {
  // background-color: $white;
  color: map-get($theme-colors, charcoal);

  &.section {
    background: none;
  }

  & > .component--bkg {
    background: $white;
  }

  & > .section--bkg,
  &:not(.full-bleed-bkg) > .component--bkg {
    background: none;
  }
}

.bkg-charcoal { //used for banner only
  background-color: map-get($theme-colors, charcoal);
}

.grid-guides {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 10000;

  .col-sm-1 {
    outline: none !important;

    span {
      background-color: rgba(lightblue, 0.5);
      display: block;
      position: relative;
      height: 100vh;
      outline: none !important;
    }
  }
}

.zoom-social-icons-list {
  .social-icon {
    background-color: map-get($theme-colors, charcoal) !important;
    transition: color 0.3s ease-in-out;

    .main-nav & {
      color: map-get($theme-colors, blue) !important;
    }
  }
}

.zoom-social_icons-list {
  &__link {
    text-decoration: none;

    &:hover {
      text-decoration: none;

      .social-icon {
        color: map-get($theme-colors, blue) !important;
      }
    }
  }
}

@keyframes fadeAnim {
  0% {
    opacity: 0;
    // transform: translate(0, 8vw);
  }

  // 50% {
  //   opacity: 0.25;
  // }

  100% {
    opacity: 1;
    // transform: none;
  }
}

.js--fade-in-when-in-view {
  opacity: 0;
  will-change: opacity, transform;
  transition: opacity 1s ease-in-out;
  &.image-fade {
    transition: opacity 1s ease-in-out;
  }
  &.text-fade {
    transition: opacity 1s ease-in-out 0.25s;
  }
  &.nu-active {
    opacity: 1;
  }
}

.image-fade,
.text-fade {
  opacity: 0;
  will-change: opacity, transform;
  &.active {
    opacity: 1;
  }
}

.image-fade {
  transition: opacity 1s ease-in-out;
}

.text-fade {
  transition: opacity 1s ease-in-out 0.25s;
}
