@function to-vw($target, $breakpoint: 1200) {
  @if $breakpoint == xs {
    $breakpoint: 375;
  }

  @else if $breakpoint == sm {
    $breakpoint: 576;
  }

  @else if $breakpoint == md {
    $breakpoint: 768;
  }

  @else if $breakpoint == lg {
    $breakpoint: 992;
  }

  @else if $breakpoint == xl {
    $breakpoint: 1200;
  }
  $vw-context: ($breakpoint * 0.01) * 1;

  @return ($target / $vw-context) * 1vw;
}

@function to-pct($target, $breakpoint: 1200) {
  @if $breakpoint == xs {
    $breakpoint: 375;
  }

  @else if $breakpoint == sm {
    $breakpoint: 576;
  }

  @else if $breakpoint == md {
    $breakpoint: 768;
  }

  @else if $breakpoint == lg {
    $breakpoint: 992;
  }

  @else if $breakpoint == xl {
    $breakpoint: 1200;
  }
  $pct-context: ($breakpoint * 0.01) * 1;

  @return ($target / $pct-context) * 1%;
}

@mixin bleed-setup($infix) {
  @include media-breakpoint-up($infix) {
    $outer: to-vw($outer-margin, $infix);

    @for $i from 1 through 12 {
      .section--bkg.col-#{$infix}-#{$i} {
        max-width: calc((100% - #{$outer}) / 12 * $i + #{$outer * 2});
        flex-basis: calc((100% - #{$outer}) / 12 * $i + #{$outer * 2});
      }

      @if $infix != "sm" {
        .section--bkg.col-#{$infix}-#{$i}.bleed-left,
        .section--bkg.col-#{$infix}-#{$i}.bleed-right {
          max-width: calc((99.998% - #{$outer * 2} + #{$gg}) / 12 * #{$i} + (#{$outer} - #{$ggh}));
          flex-basis: calc((99.998% - #{$outer * 2} + #{$gg}) / 12 * #{$i} + (#{$outer} - #{$ggh}));
        }

        .col-#{$infix}-#{$i}.bleed-left,
        .col-#{$infix}-#{$i}.bleed-right {
          max-width: calc(#{$i} / 12 * 99.998% + #{$outer} - #{$ggh});
          flex-basis: calc(#{$i} / 12 * 99.998% + #{$outer} - #{$ggh});
          min-height: $outer;
          column-gap: $ggh;
        }
      }

      @else {
        @include media-breakpoint-only($infix) {
          .section--bkg.col-#{$infix}-#{$i}.bleed-left-mobile,
          .section--bkg.col-#{$infix}-#{$i}.bleed-right-mobile {
            max-width: calc((99.998% - #{$outer * 2} + #{$gg}) / 12 * #{$i} + (#{$outer} - #{$ggh}));
            flex-basis: calc((99.998% - #{$outer * 2} + #{$gg}) / 12 * #{$i} + (#{$outer} - #{$ggh}));
          }

          .col-#{$infix}-#{$i}.bleed-left-mobile,
          .col-#{$infix}-#{$i}.bleed-right-mobile {
            max-width: calc(#{$i} / 12 * 99.998% + #{$outer} - #{$ggh});
            flex-basis: calc(#{$i} / 12 * 99.998% + #{$outer} - #{$ggh});
            min-height: $outer;
            column-gap: $ggh;
          }
        }
      }
    }

    .container-fluid {
      @include media-breakpoint-up($infix) {
        padding-right: $outer;
        padding-left: $outer;
      }
    }

    .section--bkg {
      margin-right: -$outer;
      margin-left: -$outer;
    }

    @if $infix != "sm" {
      [class*="col-#{$infix}-"]:not(.section--bkg).bleed-right {
        margin-right: -#{$outer - $ggh};
        padding-right: 0;
      }

      [class*="col-#{$infix}-"]:not(.section--bkg).bleed-left {
        margin-left: -#{$outer - $ggh};
        padding-left: 0;
      }

      .component[class*="col-#{$infix}-"].bleed-right {
        margin-right: -$outer + $ggh;
        padding-right: 0;
      }

      .component[class*="col-#{$infix}-"].bleed-left {
        margin-left: -$outer + $ggh;
        padding-left: 0;
      }

      .section--bkg.bleed-right {
        margin-right: -#{$outer};
        padding-right: 0;
      }

      .section--bkg.bleed-left {
        margin-left: -#{$outer};
        padding-left: 0;
      }
    }

    @else {
      [class*="col-#{$infix}-"]:not(.section--bkg).bleed-right-mobile {
        margin-right: -#{$outer - $ggh};
        padding-right: 0;
      }

      [class*="col-#{$infix}-"]:not(.section--bkg).bleed-left-mobile {
        margin-left: -#{$outer - $ggh};
        padding-left: 0;
      }

      .component[class*="col-#{$infix}-"].bleed-right-mobile {
        margin-right: -$outer + $ggh;
        padding-right: 0;
      }

      .component[class*="col-#{$infix}-"].bleed-left-mobile {
        margin-left: -$outer + $ggh;
        padding-left: 0;
      }

      .section--bkg.bleed-right-mobile {
        margin-right: -#{$outer};
        padding-right: 0;
      }

      .section--bkg.bleed-left-mobile {
        margin-left: -#{$outer};
        padding-left: 0;
      }
    }
  }
}

@mixin bleed-setup-xs() {
  @include media-breakpoint-down(xs) {
    $outer: to-vw($outer-margin, xs);

    @for $i from 1 through 12 {
      .section--bkg.col-#{$i}.bleed-left-mobile,
      .section--bkg.col-#{$i}.bleed-right-mobile {
        max-width: calc((100% - #{$om-xs * 2} + #{$ggh-xs * 2}) / 12 * #{$i} + (#{$om-xs} - #{$ggh}));
        flex-basis: calc((100% - #{$om-xs * 2} + #{$ggh-xs * 2}) / 12 * #{$i} + (#{$om-xs} - #{$ggh}));
      }

      .col-#{$i}.bleed-left-mobile,
      .col-#{$i}.bleed-right-mobile {
        max-width: calc(#{$i} / 12 * 100% + #{$om-xs} - #{$ggh-xs});
        flex-basis: calc(#{$i} / 12 * 100% + #{$om-xs} - #{$ggh-xs});
        min-height: $om-xs;
        column-gap: $ggh-xs;
      }
    }

    .component[class*="col"].bleed-right-mobile {
      margin-right: -#{$om-xs - $ggh-xs};
      padding-right: 0;
    }

    .component[class*="col"].bleed-left-mobile {
      margin-left: -#{$om-xs - $ggh-xs};
      padding-left: 0;
    }
  }
}

@mixin button-setup($infix, $cols) {
  @include media-breakpoint-only($infix) {
    .slick-arrow {
      right: calc((100% - #{to-vw($outer-margin, $infix) * 2 - $gg}) / #{$cols} * 2 + #{to-vw($outer-margin, $infix) + $ggh});
      width: calc((100% - #{to-vw($outer-margin, $infix) * 2 - $gg}) / #{$cols} * 1 - #{$gg});
      padding-top: calc((100% - #{to-vw($outer-margin, $infix) * 2 - $gg}) / #{$cols} * 1 - #{$gg});
      height: 0;

      &:active,
      &:focus {
        outline: 1px solid black;
        outline-offset: -1px;
      }

      &.slick-prev {
        right: calc((100% - #{to-vw($outer-margin, $infix) * 2 - $gg}) / #{$cols} * 3 + #{to-vw($outer-margin, $infix) + $ggh});
      }
    }
  }
}

@mixin to-vw-all($property, $target) {
  @include media-breakpoint-up(xs) {
    $property: to-vw($target, xs);
  }

  @include media-breakpoint-up(sm) {
    $property: to-vw($target, sm);
  }

  @include media-breakpoint-up(md) {
    $property: to-vw($target, md);
  }

  @include media-breakpoint-up(lg) {
    $property: to-vw($target, lg);
  }

  @include media-breakpoint-up(xl) {
    $property: to-vw($target, xl);
  }
}

@mixin pseudoBlock($display: block) {
  content: "";
  display: $display;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
