body.scrolled {

  .header {

    .brand.primary {
      .text {
        fill: rgba(var(--theme-colour-charcoal),1);
      }
    }
    .extra-link .link {
      color: rgba(var(--theme-colour-charcoal), 1);
      border-color: rgba(var(--theme-colour-charcoal), 1);
    }

    .navbar-toggler-icon {
      fill: rgba(var(--theme-colour-charcoal), 1);
    }

  }

  &[data-scroll-direction="down"] {
    .header {
      background: rgba( var(--theme-colour-white), 0 );
    }
  }

  &[data-scroll-direction="up"] {
    .header.theme-dark .navigation.main-menu {
      .navigation__item.active {
        .navigation__link { color: rgba(var(--theme-colour-blue), 1); }
      }
      .navigation__link {
        color: rgba(var(--theme-colour-charcoal), 1);
        &:hover {
          color: rgba(var(--theme-colour-blue), 1);
        }
      }
    }
  }

}

.header {

  transition: background 300ms, height 300ms;
  background: rgba( var(--theme-colour-white), 0 );


  .zoom-social-icons-list .social-icon {
    color: rgba( var(--theme-colour-blue), 1 );
  }

  .zoom-social_icons-list__link:hover {
    .social-icon {
      color: rgba( var(--theme-colour-white), 1 ) !important;
    }
  }

  .brand {
    will-change: transform;
    transition: transform 300ms;
    a, img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
    &.mobile-menu {
      width: 36.26667vw;
      margin-left: 15px;
      .text {
        fill: rgba(var(--theme-colour-white),1);
      }
    }
    &.primary {
      width: 36.26667vw;
    }
    .scrolled & {
      &.primary {
        transform: scale(0.83333);
      }
    }
  }

  .navbar-toggler-icon {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: color 0.5s ease, opacity 0.5s ease;
    fill: rgba( var(--theme-colour-charcoal), 1 );

    svg {
      transition: fill 0.5s ease;
      display: block;
      fill: inherit;
    }

    &.icon-menu {
      opacity: 1;
    }

    &.icon-close {
      opacity: 0;
    }

    .collapse-navigation-active & {
      &.icon-menu {
        opacity: 0;
      }
      &.icon-close {
        opacity: 1;
      }
    }

  }

  .container-fluid {
    width: 100%;
    padding: 0 24px;
  }

  .extra-link {
    margin-left: auto;
    margin-right: 24px;
    .link {
      color: rgba(var(--theme-colour-blue), 1);
      border-color: rgba(var(--theme-colour-blue), 1);
      border-width: 1px;
      border-style: solid;
      padding: 6px 10px;
      &:hover {
        text-decoration: none;
        opacity: .5;
      }
    }
  }

  .navigation {
    display: inline-flex;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    color: rgba( var(--theme-colour-charcoal), 1 );
    .active {
      a {
        color: rgba( var(--theme-colour-blue), 1 );
      }
    }
    &__item {
      padding: 0 1em;
    }
    a {
      display: block;
      font-size: 1.95312vw;
      color: inherit;
      text-decoration: none;
      outline: none;
      font-weight: 400;
      line-height: 1;
      &:hover {
        color: rgba( var(--theme-colour-blue), 1 );
        text-decoration: none;
        outline: none;
      }
    }
    &.main-menu {
      transition: opacity 500ms;
    }
    &.mobile-menu {
      flex-flow: column;
      width: 100%;
      align-items: flex-start;
      margin: 0;
      padding: 0;
      .navigation__item {
        margin: 0;
        padding: 0;
        &.active {
          .navigation__link {
            color: rgba(var(--theme-colour-white), 1);
          }
        }
      }
      .navigation__link {
        padding: 2.13333vw 0;
        color: #414042;
        font-size: 8vw;
        line-height: 1.33333;
        &:hover {
          color: rgba(var(--theme-colour-white), 1);
        }
      }
      &.primary {
        .navigation__link {
          font-weight: 700;
        }
      }
      &.secondary {
        margin-top: 4em;
      }
    }
  }

  .navbar-toggler {
    border-color: rgba( var(--theme-colour-blue), 1 );
    height: var(--theme-header-button-size);
    width: var(--theme-header-button-size);
    position: relative;
    top: unset;
    right: unset;
    .collapse-navigation-active & {
      border-color: rgba( var(--theme-colour-white), 1 );
    }
    &:hover {
      .navbar-toggler-icon {
        fill: rgba( var(--theme-colour-white), 1 );
      }
    }
  }

  .zoom-social-icons-widget {
    padding: 4.26667vw 0;
  }

  .mobile-menu {
    &.brand {
      .text {
        fill: rgba(var(--theme-colour-white),1);
      }
      .dot {
        fill: rgba(var(--theme-colour-charcoal),1);
      }
    }
  }

  &__collapse-navigation {

    transition: transform 450ms;
    transform: translate3d(0, -100%, 0);
    background-color: #00bdf2;
    position: fixed;
    right: 0;
    top: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    overflow-y: auto;
    width: 100vw;
    display: flex;
    flex-flow: column;

    &-header {
      height: var(--theme-header-height);
      display: inline-flex;
      width: 100%;
      align-items: center;
    }

    &-body {
      flex: 1;
      padding: 0 21vw;
      align-content: center;
      justify-content: center;
      display: flex;
      flex-flow: column;
      height: auto;
    }

    &.active {
      transform: translate3d(0, 0, 0);
    }

  }

  &__main {
    min-height: var(--theme-header-height);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &.sticky {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  &.theme-dark {

    .brand {
      .text {
        fill: rgba(var(--theme-colour-white),1);
      }
      &.mobile-menu {
        .dot {
          fill: rgba(var(--theme-colour-charcoal),1);
        }
      }
    }

    .extra-link .link {
      color: rgba(var(--theme-colour-white), 1);
      border-color: rgba(var(--theme-colour-white), 1);
    }

    .navigation {
      &.main-menu {
        .active a {
          color: rgba(var(--theme-colour-blue),1);
        }
        .navigation__link {
          color: rgba(var(--theme-colour-white),1);
          &:hover {
            color: rgba(var(--theme-colour-blue),1);
          }
        }
      }
    }

    .navbar-toggler-icon {
      fill: rgba( var(--theme-colour-white), 1 );
    }

  }

  .scrolled & {
    background: rgba( var(--theme-colour-white), 0.85 );
    .navbar-toggler {
      border-color: transparent;
    }
  }

  .scrolled.collapse-navigation-active & {
    .navbar-toggler {
      border-color: rgba( var(--theme-colour-white), 1 );
    }
  }

  [data-scroll-direction="down"] & {
    .navigation.main-menu {
      opacity: 0;
    }
  }

  @include media-breakpoint-up(sm) {

    .brand {
      &.primary {
        width: 26.04167vw;
      }
      &.mobile-menu {
        width: 31.8287vw;
        margin-top: 5em;
        margin-left: 0;
      }
    }

    .container-fluid {
      padding: 0 7.29167vw;
    }

    .navbar-toggler {
      height: var(--theme-header-button-size--sm);
      width: var(--theme-header-button-size--sm);
    }

    .navigation {
      &.mobile-menu {
        .navigation__link {
          font-size: 4.16667vw;
          padding: 1.38889vw 0;
        }
        &.secondary {
          .navigation__link {
            font-size: 3.81944vw;
          }
        }
      }
    }

    .zoom-social-icons-widget {
      padding: 2.77778vw 0;
    }

    &__collapse-navigation {
      width: 60vw;
      &-header {
        height: var(--theme-header-height--sm);
      }
      &-body {
        padding: 0 13vw;
        padding-top: 7vw;
        justify-content: flex-start;
      }
    }

    &__main {
      min-height: var(--theme-header-height--sm);
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    .brand {
      &.primary {
        width: 19.53125vw;
      }
      &.mobile-menu {
        width: 23.87153vw;
      }
    }

    .container-fluid {
      padding: 0 5.46875vw;
    }

    .navigation {
      &__item {
        padding: 0 1.25em;
      }
      a {
        font-size: 1.95312vw;
      }
      &.main-menu {
        margin-left: 23.5vw;
      }
      &.mobile-menu {
        .navigation__link {
          font-size: 4.29688vw;
          padding: 1.04167vw 0;
        }
        &.secondary {
          .navigation__link {
            font-size: 2.86458vw;
          }
        }
      }
    }

    .navbar-toggler {
      height: var(--theme-header-button-size--md);
      width: var(--theme-header-button-size--md);
    }

    .zoom-social-icons-widget {
      padding: 2.08333vw 0;
    }

    &__brand {
      margin-right: unset;
      position: absolute;
      left: 0;
    }

    &__collapse-navigation {
      width: 50vw;
      &-header {
        height: var(--theme-header-height--md);
      }
      &-body {
        padding: 0 10vw;
        padding-top: 3vw;
      }
    }

    &__main {
      min-height: var(--theme-header-height--md);
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .brand {
      &.primary {}
      &.mobile-menu {
        width: 23.87153vw;
      }
    }

    .container-fluid {
      padding: 0 4.23387vw;
    }

    .extra-link {
      position: absolute;
      right: calc( 26px + var(--theme-header-button-size--lg) );
      margin-right: 0;
    }

    .navigation {
      margin: auto;
      &__item {
        padding: 0 1.5em;
      }
      a {
        font-size: 1.5121vw;
      }
      &.main-menu {
        justify-content: center;
        margin: auto;
      }
      &.mobile-menu {
        .navigation__link {
          font-size: 3.32661vw;
          padding: 0.80645vw 0;
        }
        &.secondary {
          .navigation__link {
            font-size: 2.21774vw;
          }
        }
      }
    }

    .navbar-toggler {
      height: var(--theme-header-button-size--lg);
      width: var(--theme-header-button-size--lg);
      position: absolute;
      top: unset;
      right: 0;
    }

    .zoom-social-icons-widget {
      padding: 1.6129vw 0;
    }

    &__collapse-navigation {
      width: 40vw;
      &-header {
        height: var(--theme-header-height--lg);
      }
      &-body {
        padding: 0 8vw;
        padding-top: 2vw;
      }
    }

    &__main {
      min-height: var(--theme-header-height--lg);
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    .brand {
      &.primary {
        width: 12.5vw;
      }
      &.mobile-menu {
        width: 15.27778vw;
      }
    }

    .container-fluid {
      padding: 0 3.5vw;
    }

    .extra-link {
      right: calc( 26px + var(--theme-header-button-size--xl) );
    }

    .navigation {
      &__item {
        padding: 0 1.75em;
      }
      a {
        font-size: 1.25vw;
      }
      &.mobile-menu {
        .navigation__link {
          font-size: 2.75vw;
          padding: 0.66667vw 0;
        }
        &.secondary {
          .navigation__link {
            font-size: 1.83333vw;
          }
        }
      }
    }

    .navbar-toggler {
      height: var(--theme-header-button-size--xl);
      width: var(--theme-header-button-size--xl);
    }

    .zoom-social-icons-widget {
      padding: 1.33333vw 0;
    }

    &__collapse-navigation {
      width: 33.333vw;
      &-header {
        height: var(--theme-header-height--xl);
      }
      &-body {
        padding: 0 6vw;
        padding-top: 2vw;
      }
    }

    &__main {
      min-height: var(--theme-header-height--xl);
    }

  } // min width xl

}
