:root {
  --services-circle-size: 320px;
}

.services-cta {

  transition:
    opacity 450ms,
    transform 450ms;
  opacity: 0;
  transform: translate3d( 0, var(--services-circle-size), 0 );
  height: var(--services-circle-size);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 500;
  overflow: hidden;

  .message {
    width: var(--services-circle-size);
    color: rgba(var(--theme-colour-white), 1);
    padding: 0 32px 16px;
    font-size: 25px;
    margin: auto;
    font-weight: 500;
    text-align: center;
    a {
      color: rgba(var(--theme-colour-blue), 1);
      border-bottom: 1px solid rgba(var(--theme-colour-blue), 1);
      text-decoration: none;
      line-height: 1;
      display: inline-block;
      &:focus,
      &:hover {
        color: rgba(var(--theme-colour-white), 1);
        border-bottom: 1px solid transparent;
        text-decoration: none;
      }
    }
  }

  &__circle {
    background: rgba(var(--theme-colour-charcoal),1);
    height: var(--services-circle-size);
    width: var(--services-circle-size);
    bottom: calc( -0.55 * var(--services-circle-size) );
    border-radius: 100%;
    box-shadow: 0px 0px 20px 0px rgba( 0, 0, 0, 0.3333);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 0;
  }

  &__main {
    position: relative;
    z-index: 1;
  }

  &.active {
    opacity: 1;
    transform: translate3d( 0, 0, 0 );
  }

  @include media-breakpoint-up(sm) {

    &.active {
      transform: translate3d( 0, var(--services-circle-size), 0 );
      opacity: 0;
    }

  }

  @include media-breakpoint-up(md) {}

  @include media-breakpoint-up(lg) {}

  @include media-breakpoint-up(xl) {}

}
