.period {
  display: inline-block;
  margin-left: 0.1em;
  color: transparent !important;

  &:last-child {
    margin-right: -1em;
  }

  &::before {
    background-color: map-get($theme-colors, charcoal);
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 0.18em;
    height: 0.18em;
  }

  .component--banner-title &::before {
    background-color: map-get($theme-colors, charcoal);
  }

  .theme-white &::before {
    background-color: map-get($theme-colors, blue);
  }

  .theme-blue &::before {
    background-color: $white;
  }

  .theme-red &::before {
    background-color: $white;
  }

  .section--building-availablilty h2 &::before {
    background-color: map-get($theme-colors, yellow) !important;
  }

  .home h1 &::before,
  .theme-charcoal &[data-period-count="1"]::before,
  .single-building &[data-period-count="3"]::before {
    background-color: map-get($theme-colors, yellow);
  }

  .theme-charcoal &[data-period-count="2"]::before,
  .single-building &[data-period-count="2"]::before {
    background-color: map-get($theme-colors, blue);
  }

  .single-post .heading-large &::before,
  .theme-charcoal &[data-period-count="3"]::before,
  .single-building &[data-period-count="1"]::before {
    background-color: map-get($theme-colors, red);
  }
}

h1,
.heading-large {
  font-size: to-vw(30, xs);
  font-weight: 700;
  line-height: calc(38.4 / 30);

  @include media-breakpoint-up(sm) {
    font-size: to-vw(49, sm);
    line-height: calc(58.333 / 49);
  }

  @include media-breakpoint-up(md) {
    font-size: to-vw(42, md);
  }

  @include media-breakpoint-up(lg) {
    font-size: to-vw(49, lg);
  }

  @include media-breakpoint-up(xl) {
    font-size: to-vw(49, xl);
  }
}

h2 {
  font-size: to-vw(30, xs);
  font-weight: 400;
  line-height: calc(40 / 30);

  @include media-breakpoint-up(sm) {
    font-size: to-vw(24, sm);
    line-height: calc(32 / 24);
  }

  @include media-breakpoint-up(md) {
    font-size: to-vw(33.33333, md);
  }

  @include media-breakpoint-up(lg) {
    font-size: to-vw(33.33333, lg);
  }

  @include media-breakpoint-up(xl) {
    font-size: to-vw(33.33333, xl);
  }

  .component--text-content & {
    margin-bottom: 0.75em;
  }

  .home .component--banner .component--text & {
    margin-bottom: 1.5em;
  }
}

h3 {
  margin-top: 2.8375em;
  margin-bottom: 1.375em;
  font-size: to-vw(30, xs);
  font-weight: 500;
  line-height: calc(30 / 20);

  &:first-of-type {
    margin-top: 0;
  }

  @include media-breakpoint-up(sm) {
    font-size: to-vw(19, sm);
    line-height: calc(28 / 19);
  }

  @include media-breakpoint-up(md) {
    font-size: to-vw(22, md);
  }

  @include media-breakpoint-up(lg) {
    font-size: to-vw(22, lg);
  }

  @include media-breakpoint-up(xl) {
    font-size: to-vw(22, xl);
  }

  .content-info & {
    font-weight: 400;

    @include media-breakpoint-down(xs) {
      font-size: to-vw(20, xs);
      line-height: calc(30 / 20);
    }
  }

  &.find-a-space--title {
    font-weight: 400;
  }

  .component--multi-row & {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

  .about-us .component--banner .component--text & {
    margin-top: 1.25em;
    margin-bottom: 0.5em;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

h4 {
  font-size: to-vw(15, xs);
  font-weight: 700;
  line-height: calc(19 / 15);

  @include media-breakpoint-up(sm) {
    font-size: to-vw(15, sm);
  }

  @include media-breakpoint-up(md) {
    font-size: to-vw(15, md);
  }

  @include media-breakpoint-up(lg) {
    font-size: to-vw(15, lg);
  }

  @include media-breakpoint-up(xl) {
    font-size: to-vw(15, xl);
  }

  .content-info & {
    margin-bottom: 1em;
    font-weight: 400;
  }

  &.adr {
    font-weight: normal;
    margin-bottom: 2.5em;
  }
}

h5 {
  font-size: to-vw(13.333, xs);
  font-weight: 400;
  line-height: calc(18.333 / 13.333);

  @include media-breakpoint-up(sm) {
    font-size: to-vw(13.333, sm);
  }

  @include media-breakpoint-up(md) {
    font-size: to-vw(13.333, md);
  }

  @include media-breakpoint-up(lg) {
    font-size: to-vw(13.333, lg);
  }

  @include media-breakpoint-up(xl) {
    font-size: to-vw(13.333, xl);
  }
}

p,
dl,
li {
  margin-bottom: 1em;
  font-weight: 100;
  font-size: to-vw(16, xs);
  line-height: calc(22 / 16);

  @include media-breakpoint-up(sm) {
    font-size: to-vw(13.33333, sm);
    line-height: calc(32 / 22);
  }

  @include media-breakpoint-up(md) {
    font-size: to-vw(13.33333, md);
  }

  @include media-breakpoint-up(lg) {
    font-size: to-vw(13.33333, lg);
  }

  @include media-breakpoint-up(xl) {
    font-size: to-vw(13.33333, xl);
  }

  ul {
    margin-top: 1em;
  }

  h3 + & {
    margin-top: -1em;
  }

  .wp-block-quote & {
    display: block;
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    @extend h2;
  }

  .component--location-address & {
    margin-bottom: 0;
  }

  .section--building-availablilty &,
  .component--location-notify &,
  .component--contact &,
  .component--location-address &,
  .news-feature &,
  .component--multi-row [class*="col-"] > &,
  .single-building .component--banner-header-text &,
  .home .component--aside &,
  .section:not(#OurValues) .component--text & {
    font-size: to-vw(20, xs);
    line-height: calc(40 / 30);
    margin-top: 0 !important;

    @include media-breakpoint-up(sm) {
      font-size: to-vw(19, sm);
      line-height: calc(32 / 22);
    }

    @include media-breakpoint-up(md) {
      font-size: to-vw(22, md);
    }

    @include media-breakpoint-up(lg) {
      font-size: to-vw(22, lg);
    }

    @include media-breakpoint-up(xl) {
      font-size: to-vw(22, xl);
    }
  }

  .component--contact &.contact {
    font-size: to-vw(26, xs);

    &:last-child {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(sm) {
      font-size: to-vw(19, sm);
      line-height: calc(32 / 22);
    }

    @include media-breakpoint-up(md) {
      font-size: to-vw(22, md);
    }

    @include media-breakpoint-up(lg) {
      font-size: to-vw(22, lg);
    }

    @include media-breakpoint-up(xl) {
      font-size: to-vw(22, xl);
    }
  }
}
