/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

@function hexToRGB( $hex: false ) {
  @return red($hex), green($hex), blue($hex);
}

$theme-colors: (
  primary: #e0f4fa,
  blue: #00bdf2,
  darkblue: #1f8199,
  red: #ef3824,
  secondary: #ef3824,
  yellow: #ffd449,
  off-white: #f6f6f4,
  lightgrey: #f6f6f4,
  charcoal: #414042,
  lightcharcoal: #7e7e7e,
  white: #ffffff,
);

$font-family-sans-serif: aktiv-grotesk, sans-serif;
$font-family-icon: "Material Icons";

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

// $grid-gutter-width: 20px;
$grid-gutter-width: 20 / 1440 * 100vw;
$gg: $grid-gutter-width;
$ggh: $gg / 2;
$outer-margin: 100 / 3;

$om-xs: 9.33333vw;
$ggh-xs: 20 / 375 * 100vw / 2;

//////////////////////////////////////////////////////////
////  Polite Dept. | Vars
//////////////////////////////////////////////////////////

:root {

  // ---------------------------------------- Colours
  --theme-colour-blue: #{ hexToRGB( map-get( $theme-colors, blue ) ) };
  --theme-colour-charcoal: #{ hexToRGB( map-get( $theme-colors, charcoal ) ) };
  --theme-colour-lightcharcoal: #{ hexToRGB( map-get( $theme-colors, lightcharcoal ) ) };
  --theme-colour-lightgrey: #{ hexToRGB( map-get( $theme-colors, lightgrey ) ) };
  --theme-colour-white: #{ hexToRGB( map-get( $theme-colors, white ) ) };
  --theme-colour-yellow: #{ hexToRGB( map-get( $theme-colors, yellow ) ) };

  // ---------------------------------------- Header
  --theme-header-height-total: auto;
  --theme-header-height: 82px;
  --theme-header-height--sm: 68px;
  --theme-header-height--md: 68px;
  --theme-header-height--lg: 68px;
  --theme-header-height--xl: 70px;

  --theme-header-button-size: 60px;
  --theme-header-button-size--sm: 38px;
  --theme-header-button-size--md: 38px;
  --theme-header-button-size--lg: 40px;
  --theme-header-button-size--xl: 42px;

}
