.component--breadcrumb {
  .btn-text {
    @include media-breakpoint-down(sm) {
      margin-left: 1.5em;
    }
  }

  .breadcrumb {
    padding: to-vw(50, xs) 0;

    @include media-breakpoint-up(sm) {
      padding: to-vw(55, sm) 0 0;
    }

    @include media-breakpoint-up(md) {
      padding: to-vw(55, md) 0 0;
    }

    @include media-breakpoint-up(lg) {
      padding: to-vw(55, lg) 0 0;
    }

    @include media-breakpoint-up(xl) {
      padding: to-vw(55, xl) 0 0;
    }
  }
}

.single-building .page-content {
  background-color: map-get($theme-colors, lightgrey);
}

.section--building {
  @include media-breakpoint-up(md) {
    padding-bottom: 0;
  }

  .component--text {
    @extend .pt-5;
    @extend .pb-5;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-location {
    padding-top: 0;
    padding-bottom: 0;

    @include media-breakpoint-up(md) {
      position: relative;
    }
  }
}

.location {
  &--map {
    &-image {
      width: 100%;
      height: auto;
    }
  }
}

.component--gallery {
  padding: 0 !important;

  .section--building & {
    background-color: $white;
  }
}

.component--multi {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 3em;
}

.component--features {
  &-sidebar {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding-bottom: 3em;
  }
}

.grid--location {
  @include media-breakpoint-up(md) {
    margin-top: -12vw;
    display: grid;
    gap: 0 0;
    grid-template-areas:
      "map notify"
      "map address";
  }

  @include media-breakpoint-only(md) {
    $om-md: to-vw($outer-margin, md);
    $left-md: calc(7 / 12 * (100% - #{$om-md * 2 - $gg}) + #{$om-md - $ggh});
    $right-md: calc(5 / 12 * (100% - #{$om-md * 2 - $gg}) + #{$om-md - $ggh});

    margin-right: -$om-md;
    margin-left: -$om-md;
    grid-template-columns: $left-md $right-md;
    grid-template-rows: 51 ​45;
  }

  @include media-breakpoint-only(lg) {
    $om-lg: to-vw($outer-margin, lg);
    $left-lg: calc(8 / 12 * (100% - #{$om-lg * 2 - $gg}) + #{$om-lg - $ggh});
    $right-lg: calc(4 / 12 * (100% - #{$om-lg * 2 - $gg}) + #{$om-lg - $ggh});

    margin-right: -$om-lg;
    margin-left: -$om-lg;
    grid-template-columns: $left-lg $right-lg;
    grid-template-rows: 53 ​47;
  }

  @include media-breakpoint-only(xl) {
    $om-xl: to-vw($outer-margin, xl);
    $left-xl: calc(8 / 12 * (100% - #{$om-xl * 2 - $gg}) + #{$om-xl - $ggh});
    $right-xl: calc(4 / 12 * (100% - #{$om-xl * 2 - $gg}) + #{$om-xl - $ggh});

    margin-right: -$om-xl;
    margin-left: -$om-xl;
    grid-template-columns: $left-xl $right-xl;
    grid-template-rows: 56 ​44;
  }

  &-map {
    padding-right: 0 !important;
    padding-left: 0 !important;

    @include media-breakpoint-down(sm) {
      order: 2;
    }

    height: 100vw;

    @include media-breakpoint-up(md) {
      grid-area: map;
      height: 55vw;
      margin-top: 12vw;
      margin-right: 0 !important;
      margin-left: 0 !important;
      max-width: none !important;
      flex-basis: 0 !important;
    }

    @include media-breakpoint-up(lg) {
      height: auto;
    }

    .location--map-image {
      height: 100%;
      object-fit: cover;
    }
  }

  &-notify {
    @include media-breakpoint-down(sm) {
      order: 1;
    }

    @include media-breakpoint-up (md) {
      grid-area: notify;
      padding-top: 6.25vw !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
      max-width: none !important;
      flex-basis: 0 !important;
    }
  }

  &-address {
    background-color: map-get($theme-colors, lightgrey);

    @include media-breakpoint-down(sm) {
      width: 100%;
      order: 3;
    }

    @include media-breakpoint-up(md) {
      grid-area: address;
    }

    a {
      color: map-get($theme-colors, charcoal);

      &:hover {
        text-decoration: none;
        color: map-get($theme-colors, blue);
      }
    }
  }
}

.gallery {
  height: 116vw;
  // margin-bottom: -12vw;
  display: flex;
  position: relative;
  overflow-x: hidden;

  @include media-breakpoint-up(sm) {
    max-height: 45vw;
    margin-bottom: -3.333vw;
  }

  &-img {
    height: 100%;
    width: auto;
    object-fit: contain;
    align-self: flex-start;

    // @include media-breakpoint-down(xs) {
    //   height: 100%;
    //   width: auto;
    //   object-fit: contain;
    //   align-self: flex-start;
    // }

    // @include media-breakpoint-up(sm) {
    //   height: 100%;
    //   width: auto;
    //   object-fit: contain;
    //   align-self: flex-start;
    // }

    &-ctn {
      @include media-breakpoint-down(xs) {
        height: 104vw;
        width: 100vw;
        margin-right: $ggh-xs * 4 / 3;

        &:last-of-type {
          margin-right: 0;
        }
      }

      @include media-breakpoint-up(sm) {
        // width: 62.47vw;
        // max-width: 62.47vw;
        height: 41.667vw;
        margin-right: $ggh * 4 / 3;
        // height: auto;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  .slick {
    &-arrow {
      background-color: map-get($theme-colors, yellow);
      position: absolute;
      right: $om-xs;
      bottom: 0;
      z-index: 1;
      border: none;
      width: to-vw(65, xs);
      height: to-vw(65, xs);
      overflow: hidden;
      text-indent: 120%;

      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: map-get($theme-colors, charcoal);
        font-size: 1.5em;
        font-family: $font-family-icon;
        text-indent: 0;
        content: "arrow_forward";
        font-feature-settings: "liga";
        -webkit-font-feature-settings: "liga";
        transition: all 0.3s ease-in-out;
      }

      &.slick-prev {
        right: $om-xs + to-vw(65, xs) + $ggh-xs * 2;

        &::after {
          content: "arrow_back";
        }
      }
    }

    &-slider {
      touch-action: auto;
      -ms-touch-action: auto;
    }

    &-track {
      display: flex;
      max-height: 104vw;

      @include media-breakpoint-up(sm) {
        max-height: 41.667vw;
      }
    }
  }

  @include button-setup(sm, 12);
  @include button-setup(md, 12);
  @include button-setup(lg, 12);
  @include button-setup(xl, 12);
}

.space-listing {
  @include media-breakpoint-up(xs) {
    margin-bottom: 1em;
  }

  &--ctn {
    padding-top: to-vw(40, xs);
    padding-bottom: to-vw(40, xs);

    @include media-breakpoint-up(sm) {
      padding-top: to-vw(80, sm);
      padding-bottom: to-vw(80, sm);
    }

    @include media-breakpoint-up(md) {
      padding-top: to-vw(80, md);
      padding-bottom: to-vw(80, md);
    }

    @include media-breakpoint-up(lg) {
      padding-top: to-vw(80, lg);
      padding-bottom: to-vw(80, lg);
    }

    @include media-breakpoint-up(xl) {
      padding-top: to-vw(80, xl);
      padding-bottom: to-vw(80, xl);
    }
  }

  &--link {
    padding: $gg;
    width: 100%;
    min-height: 10.5em;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    position: relative;
    appearance: none;
    background: none;
    border: 2px solid map-get($theme-colors, charcoal);
    transition: all 0.3s ease-in-out;

    @include media-breakpoint-up(md) {
      min-height: 11em;
    }

    @include media-breakpoint-up(xl) {
      min-height: 12em;
    }

    &::after {
      position: absolute;
      bottom: $ggh;
      right: $gg;
      color: map-get($theme-colors, charcoal);
      font-size: 2em;
      font-family: $font-family-icon;
      content: "arrow_forward";
      font-feature-settings: "liga";
      -webkit-font-feature-settings: "liga";
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      background-color: map-get($theme-colors, charcoal);
      color: white;
    }
  }

  &--title,
  &--date {
    width: 50%;
    margin-bottom: 0.5em;
  }

  &--date {
    text-align: right;
  }

  &--type,
  &--details {
    width: 100%;
  }

  &--details {
    display: flex;
  }

  &--detail {
    margin-right: $gg;
  }
}

.space-details {
  &--info {
    .specs .btn {
      margin: 2em 0;
    }

    @include media-breakpoint-down(xs) {
      padding: 3em $om-xs 1em;
    }

    @include media-breakpoint-up(sm) {
      padding-top: 2em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: to-vw($outer-margin, sm) !important;
    }

    @include media-breakpoint-up(md) {
      padding-left: to-vw($outer-margin, md) !important;
    }

    @include media-breakpoint-up(lg) {
      padding-left: to-vw($outer-margin, lg) !important;
    }

    @include media-breakpoint-up(xl) {
      padding-left: to-vw($outer-margin, xl) !important;
    }
  }

  &--gallery {
    @include media-breakpoint-down(xs) {
      padding: 0 !important;
    }

    .gallery {
      margin-bottom: 0 !important;
      height: 104vw;

      @include media-breakpoint-up(sm) {
        height: 41.667vw;
      }
    }

    .slick-arrow {
      bottom: 0 !important;

      @include media-breakpoint-up(sm) {
        right: to-vw($outer-margin, sm) - $ggh;
        width: calc((100% - #{to-vw($outer-margin, sm) - $gg}) / 9 * 1 - #{$gg});
        padding-top: calc((100% - #{to-vw($outer-margin, sm) - $gg}) / 9 * 1 - #{$gg});
        height: 0;
      }

      @include media-breakpoint-up(md) {
        right: to-vw($outer-margin, md) - $ggh;
        width: calc((100% - #{to-vw($outer-margin, md) - $gg}) / 9 * 1 - #{$gg});
        padding-top: calc((100% - #{to-vw($outer-margin, md) - $gg}) / 9 * 1 - #{$gg});
      }

      @include media-breakpoint-up(lg) {
        right: to-vw($outer-margin, lg) - $ggh;
        width: calc((100% - #{to-vw($outer-margin, lg) - $gg}) / 9 * 1 - #{$gg});
        padding-top: calc((100% - #{to-vw($outer-margin, lg) - $gg}) / 9 * 1 - #{$gg});
      }

      @include media-breakpoint-up(xl) {
        right: to-vw($outer-margin, xl) - $ggh;
        width: calc((100% - #{to-vw($outer-margin, xl) - $gg}) / 9 * 1 - #{$gg});
        padding-top: calc((100% - #{to-vw($outer-margin, xl) - $gg}) / 9 * 1 - #{$gg});
      }
    }

    .slick-arrow.slick-prev {
      right: $om-xs + to-vw(65, xs) + $ggh-xs * 2;

      &::after {
        content: "arrow_back";
      }

      @include media-breakpoint-up(sm) {
        right: calc((100% - #{to-vw($outer-margin, sm) * 2 - $gg}) / 9 * 1 + #{to-vw($outer-margin, sm) - $ggh});
      }

      @include media-breakpoint-up(md) {
        right: calc((100% - #{to-vw($outer-margin, md) * 2 - $gg}) / 9 * 1 + #{to-vw($outer-margin, md) - $ggh});
      }

      @include media-breakpoint-up(lg) {
        right: calc((100% - #{to-vw($outer-margin, lg) * 2 - $gg}) / 9 * 1 + #{to-vw($outer-margin, lg) - $ggh});
      }

      @include media-breakpoint-up(xl) {
        right: calc((100% - #{to-vw($outer-margin, xl) * 2 - $gg}) / 9 * 1 + #{to-vw($outer-margin, xl) - $ggh});
      }
    }
  }
}

.space-header {
  &--text {
    @include media-breakpoint-up(md) {
      column-count: 2;
      column-gap: $ggh;
    }
  }
}

.building-related {
  &--listing {
    background: none;
    border: none;
    border-radius: 0;
    padding-bottom: 5em;
  }

  &--thumbnail {
    height: 100%;
    align-self: flex-start;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
    object-position: center;

    &-ctn {
      width: 100%;
      padding-top: 106.666%;
      overflow: hidden;
      position: relative;

      &::after {
        background-color: map-get($theme-colors, blue);
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        will-change: opacity;
        transition: opacity 0.25s;
      }
    }
  }

  &--details {
    padding: 1em 0;
    position: relative;

    &::after {
      display: block;
      position: absolute;
      top: 0.83333em;
      right: 0;
      color: map-get($theme-colors, charcoal);
      font-size: 1.2em;
      font-family: $font-family-icon;
      content: "arrow_forward";
      font-feature-settings: "liga";
      -webkit-font-feature-settings: "liga";
      transition: all 0.3s ease-in-out;
    }
  }

  &--title {
    margin-bottom: 0;
  }

  &--link {
    color: map-get($theme-colors, charcoal);

    &::after {
      color: map-get($theme-colors, blue);
    }

    &:hover .building-related--thumbnail-ctn::after {
      opacity: 0.2;
    }
  }

  &--link:hover &--details::after {
    transform: translateX(25%);
    color: map-get($theme-colors, blue);
  }

  &--ctn {
    @include media-breakpoint-up(sm) {
      display: grid;
      margin-right: -$ggh;
      margin-left: -$ggh;
      grid-template-columns: 47.5% 47.5%;
      justify-content: space-between;
      grid-gap: auto;
    }

    @include media-breakpoint-up(md) {
      grid-template-columns: 30% 30% 30%;
    }
  }
}
