/*  awsm-job-listings awsm-lists
      awsm-job-listing-item awsm-list-item
      awsm-list-left-col
        awsm-job-post-title
        <a>
      awsm-list-right-col
         awsm-job-more-container
          awsm-job-more
*/

.awsm-job-listings,
.awsm-selectric {
  box-shadow: none;
}

.awsm-selectric,
.awsm-job-listing-item {
  background: none;
  border: 1px solid map-get($theme-colors, charcoal);
  margin-bottom: 1em;
  color: map-get($theme-colors, charcoal);

  a {
    color: map-get($theme-colors, charcoal);
  }
}

.awsm-job-specification-item {
  @extend h4;
}

.awsm-job-more {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  span {
    position: relative;
    display: inline-block;
    width: 3em;

    &::before {
      display: none;
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1.2em;
      height: 1.2em;
      padding-left: 0.5em;
      color: map-get($theme-colors, charcoal);
      font-size: 1.2em;
      font-family: $font-family-icon;
      content: "arrow_forward";
      font-feature-settings: "liga";
      -webkit-font-feature-settings: "liga";
      transition: all 0.3s ease-in-out;
    }
  }
}
