.find-a-space {
  &--building {
    display: flex;
    padding-bottom: to-vw(50, xs);

    @include media-breakpoint-up(sm) {
      padding-bottom: to-vw(150, sm);

      .row {
        margin-right: 0;
        margin-left: 0;
      }
    }

    @include media-breakpoint-up(md) {
      padding-bottom: to-vw(150, md);
    }

    @include media-breakpoint-up(lg) {
      padding-bottom: to-vw(150, lg);
    }

    @include media-breakpoint-up(xl) {
      padding-bottom: to-vw(150, xl);
    }
  }

  &--link-wrapper {
    width: 100%;

    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }

  &--thumbnail {
    max-width: 100%;
    height: 100%;

    @include media-breakpoint-up(sm) {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      object-fit: cover;
      object-position: center;
    }

    &-ctn {
      flex-grow: 0;
      max-width: 100%;
      flex-basis: 100%;
      position: relative;

      @include media-breakpoint-up(sm) {
        max-width: 60%;
        flex-basis: 60%;
        padding-top: 36.364%;
      }
    }
  }

  &--title {
    margin-bottom: 0;
  }

  &--address {
    margin-bottom: 1.5em;
  }

  &--details {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: calc(1 / 24 * 100% + #{$ggh});
    margin-top: 1em;

    @include media-breakpoint-up(sm) {
      max-width: 40%;
      flex-basis: 40%;
      margin-top: 0;
    }

    .flex-row-reverse & {
      padding-left: inherit;
      padding-right: calc(1 / 24 * 100% + #{$ggh});
    }
  }

  &--link {
    font-size: to-vw(15, xs);

    @include media-breakpoint-up(sm) {
      font-size: to-vw(15, sm);
    }

    @include media-breakpoint-up(md) {
      font-size: to-vw(15, md);
    }

    @include media-breakpoint-up(lg) {
      font-size: to-vw(15, lg);
    }

    @include media-breakpoint-up(xl) {
      font-size: to-vw(15, xl);
    }

    &::after {
      color: map-get($theme-colors, blue);
    }

    .find-a-space--link-wrapper:hover & {
      color: map-get($theme-colors, blue);

      &::before {
        border-color: map-get($theme-colors, blue);
      }

      &::after {
        transform: translateY(-50%) translateX(25%);
      }
    }
  }
}
