.content-info {
  background-color: map-get($theme-colors, blue);

  @extend .theme-blue;

  @include media-breakpoint-up(md) {
    position: relative;
    z-index: 100; // for our spaces fixed filter overlap
  }

  &--col {
    padding-top: to-pct(100, xs);
    padding-bottom: to-pct(50, xs);

    @include media-breakpoint-up(sm) {
      padding-top: to-pct(100, sm);
      padding-bottom: to-pct(50, sm);
    }

    @include media-breakpoint-up(md) {
      padding-top: to-pct(100, md);
      padding-bottom: to-pct(50, md);
    }

    @include media-breakpoint-up(lg) {
      padding-top: to-pct(100, lg);
      padding-bottom: to-pct(50, lg);
    }

    @include media-breakpoint-up(xl) {
      padding-top: to-pct(100, xl);
      padding-bottom: to-pct(50, xl);
    }

    &-address {
      @include media-breakpoint-down(sm) {
        padding-top: to-pct(40, sm);
      }
    }

    &-brand svg {
      width: 100%;
      height: auto;

      @include media-breakpoint-up(sm) {
        width: 75%;
      }

      @include media-breakpoint-up(lg) {
        width: 100%;
      }
    }

    &-contact {
      background-color: map-get($theme-colors, lightgrey);
      order: -1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include media-breakpoint-down(xs) {
        padding: to-vw(80, xs) $om-xs to-vw(40, xs) !important;
        margin-right: -$om-xs + $ggh-xs;
        margin-left: -$om-xs + $ggh-xs;
        max-width: calc(100% + #{$om-xs - $ggh-xs} * 2);
        flex-basis: calc(100% + #{$om-xs - $ggh-xs} * 2);
      }

      @include media-breakpoint-only(sm) {
        margin-right: to-vw(-$outer-margin, sm) + $ggh;
        margin-left: to-vw(-$outer-margin, sm) + $ggh;
        max-width: calc(100% + #{to-vw($outer-margin, sm) - $ggh} * 2);
        flex-basis: calc(100% + #{to-vw($outer-margin, sm) - $ggh} * 2);
      }

      @include media-breakpoint-up(sm) {
        order: unset;
        padding: to-vw(85, sm) to-vw(50, sm) to-vw(50, sm) !important;
      }

      @include media-breakpoint-up(md) {
        padding: to-vw(85, md) to-vw(50, md) to-vw(50, md) !important;
      }

      @include media-breakpoint-up(lg) {
        padding: to-vw(85, lg) to-vw(50, lg) to-vw(50, lg) !important;
      }

      @include media-breakpoint-up(xl) {
        padding: to-vw(85, xl) to-vw(50, xl) to-vw(50, xl) !important;
      }
    }
  }

  .widget.text-3 {
    padding-right: $gg;
  }

  a {
    color: map-get($theme-colors, charcoal);
  }
}

footer {

  .zoom-social-icons-list {
    .social-icon {
      height: 22px;
      width: 22px;
      padding: 4px !important;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
  }

}
