.nav--brand {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-down(xs) {
    position: absolute;
    top: 1em;
    left: 0.5em;
  }

  svg {
    width: to-vw(136, xs);
    height: auto;

    @include media-breakpoint-up(sm) {
      width: to-vw(183.33333, sm);
      margin-top: 5em;
    }

    @include media-breakpoint-up(md) {
      width: to-vw(183.33333, md);
    }

    @include media-breakpoint-up(md) {
      width: to-vw(183.33333, md);
    }

    @include media-breakpoint-up(xl) {
      width: to-vw(183.33333, xl);
    }

    .text {
      fill: $white;
    }

    .dot {
      fill: map-get($theme-colors, charcoal);
    }
  }
}

.banner {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: to-vw(60, xs);
  will-change: background-color;
  transition: background-color 0.3s;

  .cta {
    right: 18vw;
    position: absolute;
    top: 4.5vw;
    .link {
      text-decoration: none;
      line-height: 1;
      height: 32px;
      padding: 0 16px;
      color: rgba( var(--theme-colour-blue), 1 );
      border: 1px solid rgba( var(--theme-colour-blue), 1 );
      &__title {
        font-size: 2vw;
        border: none;
      }
      &:hover {
        text-decoration: none;
        background: rgba( var(--theme-colour-blue), 1 );
        color: rgba( var(--theme-colour-white), 1 );
        .link__title {
          border: none;
        }
      }
    }
  }

  .scrolled & {
    background-color: rgba(map-get($theme-colors, off-white), 0.75);
  }

  @include media-breakpoint-up(sm) {
    height: to-vw(50, sm);
  }

  @include media-breakpoint-up(md) {
    height: to-vw(50, md);
  }

  @include media-breakpoint-up(lg) {
    height: to-vw(50, lg);
  }

  @include media-breakpoint-up(xl) {
    height: to-vw(50, xl);
  }

  .container-fluid {
    display: flex;
    justify-content: center;
    padding: to-vw(12.5, xs) to-vw(42, xs);

    @include media-breakpoint-up(sm) {
      padding: to-vw(12.5, sm) to-vw(42, sm);
    }

    @include media-breakpoint-up(md) {
      padding: to-vw(12.5, md) to-vw(42, md);
    }

    @include media-breakpoint-up(lg) {
      padding: to-vw(12.5, lg) to-vw(42, lg);
    }

    @include media-breakpoint-up(xl) {
      padding: to-vw(12.5, xl) to-vw(42, xl);
    }
  }

  &--brand {
    position: absolute;
    left: to-vw(16, xs);
    top: to-vw(24, xs);

    @include media-breakpoint-up(sm) {
      left: to-vw(42, sm);
      top: to-vw(22.5, sm);
      will-change: transform;
      transform-origin: top left;
      transition: transform 0.3s;

      .scrolled & {
        transform: scale(0.83333);
      }
    }

    @include media-breakpoint-up(md) {
      left: to-vw(42, md);
      top: to-vw(22.5, md);
    }

    @include media-breakpoint-up(lg) {
      left: to-vw(42, lg);
      top: to-vw(22.5, lg);
    }

    @include media-breakpoint-up(xl) {
      left: to-vw(42, xl);
      top: to-vw(22.5, xl);
    }

    svg {
      width: to-vw(136, xs);
      height: auto;

      @include media-breakpoint-up(sm) {
        width: to-vw(150, sm);
      }

      @include media-breakpoint-up(md) {
        width: to-vw(150, md);
      }

      @include media-breakpoint-up(md) {
        width: to-vw(150, md);
      }

      @include media-breakpoint-up(xl) {
        width: to-vw(150, xl);
      }

      .theme-dark & {
        .text {
          fill: $white;
        }
      }

      .scrolled & {
        .text {
          fill: map-get($theme-colors, charcoal) !important;
        }
      }
    }
  }
}

.nav-pinned {
  position: absolute;
  bottom: 0;
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  .scrolled[data-scroll-direction="down"] & {
    opacity: 0;
    cursor: default;
    pointer-events: none;
  }

  .nav {
    margin-top: 0.25em;

    &-item {
      @include media-breakpoint-up(sm) {
        font-size: to-vw(15, sm);
      }

      @include media-breakpoint-up(md) {
        font-size: to-vw(15, md);
      }

      @include media-breakpoint-up(lg) {
        font-size: to-vw(15, lg);
      }

      @include media-breakpoint-up(xl) {
        font-size: to-vw(15, xl);
      }
    }

    &-link {
      position: relative;
      padding: 0.5em 1em;
      color: map-get($theme-colors, charcoal);
      transition: color 0.3s;
      text-align: center;

      &::before {
        height: 1px;
        overflow: hidden;
        opacity: 0;
        display: block;
        content: attr(title);
        font-weight: bold;
        pointer-events: none;
      }

      &:hover {
        font-weight: bold;
        color: map-get($theme-colors, blue);
      }
    }
  }

  .current-menu-item .nav-link {
    font-weight: bold;
    letter-spacing: -0.025em;
    text-decoration: underline;
    color: map-get($theme-colors, blue);
  }

}

.nav-option {
  @include media-breakpoint-up(md) {
    right: 11vw;
    text-align: right;
  }

  @include media-breakpoint-up(lg) {
    right: 12vw;
  }

  @include media-breakpoint-up(xl) {
    right: 8vw;
  }
}

.nav-quick {
  .nav {
    text-align: center;
    justify-content: center;
  }
}

.navbar {
  background-color: map-get($theme-colors, blue);
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;

  &-toggler {
    position: absolute;
    right: to-vw(16, xs);
    top: to-vw(8, xs);
    z-index: 100;
    width: to-vw(45, xs);
    height: to-vw(45, xs);
    border: 1px solid $white;
    border-radius: 0;
    padding: 0.3em 0.125em;
    transition: all 0.5s ease;

    @include media-breakpoint-up(sm) {
      border-color: map-get($theme-colors, blue);
      right: to-vw(42, sm);
      top: to-vw(12.5, sm);
      width: to-vw(37.5, sm);
      height: to-vw(37.5, sm);
    }

    @include media-breakpoint-up(md) {
      right: to-vw(42, md);
      top: to-vw(12.5, md);
      width: to-vw(37.5, md);
      height: to-vw(37.5, md);
    }

    @include media-breakpoint-up(lg) {
      right: to-vw(42, lg);
      top: to-vw(12.5, lg);
      width: to-vw(37.5, lg);
      height: to-vw(37.5, lg);
    }

    @include media-breakpoint-up(xl) {
      right: to-vw(42, xl);
      top: to-vw(12.5, xl);
      width: to-vw(37.5, xl);
      height: to-vw(37.5, xl);
    }

    .scrolled & {
      border-color: rgba(map-get($theme-colors, blue), 0);
    }

    &-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: color 0.5s ease;

      .material-icons {
        line-height: 1.25;
      }
    }

    &:hover,
    &:active {
      background-color: map-get($theme-colors, blue);

      .navbar-toggler-icon {
        color: $white !important;
      }
    }

    &:focus {
      outline: 1px solid $white;
    }

    .navbar-close-icon,
    .navbar-menu-icon {
      transition: opacity 0.5s ease;
    }

    .navbar-close-icon {
      color: $white !important;
    }

    &.collapsed .navbar-close-icon {
      opacity: 0;
    }

    &:not(.collapsed) {
      border-color: $white;

      .navbar-menu-icon {
        opacity: 0;
      }
    }

    &:focus:not(:hover):not(:active) {
      .navbar-toggler-icon {
        color: map-get($theme-colors, blue);
      }
    }
  }

  .nav {
    &.nav-primary {
      .nav-item {
        font-size: to-vw(30, xs);
        line-height: calc(40 / 30);
        font-weight: 700;

        @include media-breakpoint-up(sm) {
          font-size: to-vw(24, sm);
          line-height: calc(32 / 24);
        }

        @include media-breakpoint-up(md) {
          font-size: to-vw(33, md);
        }

        @include media-breakpoint-up(lg) {
          font-size: to-vw(33, lg);
        }

        @include media-breakpoint-up(xl) {
          font-size: to-vw(33, xl);
        }
      }
    }

    &.nav-secondary {
      margin-top: 4em;

      .nav-item {
        font-size: to-vw(30, xs);
        line-height: calc(40 / 30);

        @include media-breakpoint-up(sm) {
          font-size: to-vw(22, sm);
          line-height: calc(32 / 22);
        }

        @include media-breakpoint-up(md) {
          font-size: to-vw(22, md);
        }

        @include media-breakpoint-up(lg) {
          font-size: to-vw(22, lg);
        }

        @include media-breakpoint-up(xl) {
          font-size: to-vw(22, xl);
        }
      }
    }

    .nav-link {
      padding: to-vw(8, xs) to-vw(17, xs);
      color: map-get($theme-colors, charcoal);

      @include media-breakpoint-up(sm) {
        padding: to-vw(8, sm) to-vw(17, sm);
      }

      @include media-breakpoint-up(md) {
        padding: to-vw(8, md) to-vw(17, md);
      }

      @include media-breakpoint-up(lg) {
        padding: to-vw(8, lg) to-vw(17, lg);
      }

      @include media-breakpoint-up(xl) {
        padding: to-vw(8, xl) to-vw(17, xl);
      }

      &:hover {
        color: $white;
        // text-decoration: underline;
      }

      &:active {
        color: map-get($theme-colors, darkblue);
      }
    }

    .current-menu-item .nav-link {
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }

  }

  .widget {
    padding: to-vw(16, xs) to-vw(17, xs);
    color: map-get($theme-colors, charcoal);

    @include media-breakpoint-up(sm) {
      padding: to-vw(16, sm) calc(#{to-vw(17, sm)} - 4px);
    }

    @include media-breakpoint-up(md) {
      padding: to-vw(16, md) calc(#{to-vw(17, md)} - 4px);
    }

    @include media-breakpoint-up(lg) {
      padding: to-vw(16, lg) calc(#{to-vw(17, lg)} - 4px);
    }

    @include media-breakpoint-up(xl) {
      padding: to-vw(16, xl) calc(#{to-vw(17, xl)} - 4px);
    }

    .zoom-social-icons-list--with-canvas {
      color: map-get($theme-colors, blue) !important;
    }
  }

  .collapsing {
    transition: height 0.35s ease, width 0.35s ease;
  }

  &-ctn {
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    width: 100vw;
    padding: to-vw(60, xs);

    @include media-breakpoint-down(xs) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
    }

    @include media-breakpoint-up(sm) {
      padding: to-vw(100, sm) to-vw(60, sm);
      width: 60vw;
    }

    @include media-breakpoint-up(md) {
      padding: to-vw(100, md) to-vw(60, md);
      width: 50vw;
    }

    @include media-breakpoint-up(lg) {
      padding: to-vw(100, lg) to-vw(60, lg);
      width: 40vw;
    }

    @include media-breakpoint-up(xl) {
      padding: to-vw(100, xl) to-vw(60, xl);
      width: 33.333vw;
    }
  }
}
