$our-spaces-header: 35vw;

.property {
  &--legend {
    position: absolute;
    bottom: 0.5em;
    left: 1.25em;
    z-index: 100;

    $dot: 0.8em;

    &-type {
      display: inline-block;
      width: $dot;
      height: $dot;
      margin-right: $dot * 1.75;
      border-radius: $dot / 2;
      box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.2);
    }

    &-type[data-property-legend*="commercial"] {
      background-color: map-get($theme-colors, red);
    }

    &-type[data-property-legend*="residential"] {
      background-color: map-get($theme-colors, blue);
    }

    &-type[data-property-legend*="under_development"] {
      background-color: map-get($theme-colors, yellow);
    }

    .find-a-space--building & {
      left: 2em;
    }
  }

  &--filters {
    margin-bottom: 16vw;
    font-size: to-vw(12, xs);
    line-height: calc(19 / 15);

    @include media-breakpoint-up(sm) {
      margin-bottom: 8vw;
      font-size: to-vw(15, sm);
    }

    @include media-breakpoint-up(md) {
      font-size: to-vw(15, md);
    }

    @include media-breakpoint-up(lg) {
      font-size: to-vw(15, lg);
    }

    @include media-breakpoint-up(xl) {
      font-size: to-vw(15, xl);
    }

    .our-spaces & {
      @include media-breakpoint-down(xs) {
        margin-bottom: 0;
      }
    }

    &-list {
      list-style: none;
      padding: 0;
    }

    &-btn {
      display: inline-block;
      background: none;
      appearance: none;
      border: none;
      padding: 0.5em 0;
      margin: 0.125em 1em 0.125em 0;
      // text-decoration: underline;
      // cursor: pointer;
      text-align: left;

      @include media-breakpoint-up(sm) {
        margin-right: 2em;
      }

      &:focus {
        outline: 1px solid map-get($theme-colors, charcoal);
        outline-offset: 0.125em;
      }

      $dot: 0.35em;

      &:not([data-filter-type="all"]) {
        padding-left: $dot * 2;
        position: relative;
        text-align: left;

        &::before {
          position: absolute;
          top: 1em;
          left: 0;
          display: inline-block;
          width: $dot;
          height: $dot;
          // margin-right: $dot;
          content: "";
          border-radius: $dot / 2;
        }
      }

      &[data-filter-type="commercial"]::before {
        background-color: map-get($theme-colors, red);
      }

      &[data-filter-type="residential"]::before {
        background-color: map-get($theme-colors, blue);
      }

      &[data-filter-type="under_development"]::before {
        background-color: map-get($theme-colors, yellow);
      }
    }
  }
}

.section--our-spaces {
  @include media-breakpoint-up(md) {
    padding-top: $our-spaces-header * 1.5;
    padding-bottom: 30vw;
  }

  @include media-breakpoint-up(lg) {
    padding-top: $our-spaces-header;
    padding-bottom: 20vw;
  }
}

.our-spaces {
  background-color: map-get($theme-colors, lightgrey);

  & .page-header .section {
    @include media-breakpoint-up(md) {
      position: fixed;
      right: 0;
      left: 0;
      min-height: $our-spaces-header;
    }

    .component--banner {
      padding: 30vw 0 4.5vw;

      @include media-breakpoint-up(sm) {
        padding: 10vw 0 5vw;
      }

      @include media-breakpoint-up(lg) {
        padding: 10vw 0;
      }
    }
  }

  &--building {
    background: none;
    padding: 0 0 1.95em;
    border: 0;
    border-radius: 0;
    position: relative;
  }

  &--legend {
    top: -3.5em;
  }

  &--details {
    padding: 0;
    position: relative;

    &::after {
      position: absolute;
      top: -0.2em;
      right: 0;
      width: 100%; // fix for chrome bug
      text-align: right; // fix for chrome bug
      color: map-get($theme-colors, charcoal);
      font-size: 1.72em;
      font-weight: 200;
      font-family: $font-family-icon;
      content: "arrow_forward";
      font-feature-settings: "liga";
      -webkit-font-feature-settings: "liga";
      transition: all 0.3s ease-in-out;

      .our-spaces--link:hover & {
        color: map-get($theme-colors, blue);
      }
    }
  }

  &--title {
    margin-bottom: 0;
    margin-top: 0.375em;
    font-size: to-vw(13.33333, xs);
    font-weight: 400;

    @include media-breakpoint-up(sm) {
      font-size: to-vw(13.33333, sm);
    }

    @include media-breakpoint-up(md) {
      font-size: to-vw(13.33333, md);
    }

    @include media-breakpoint-up(lg) {
      font-size: to-vw(13.33333, lg);
    }

    @include media-breakpoint-up(xl) {
      font-size: to-vw(13.33333, xl);
    }
  }

  &--thumbnail {
    max-width: 100%;
    height: auto;
    border-radius: 0;
    will-change: transform;
    transition: transform 0.5s ease-in-out;

    &-ctn {
      overflow: hidden;
      position: relative;

      &::after {
        background-color: map-get($theme-colors, blue);
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        will-change: opacity;
        transition: opacity 0.25s;
      }
    }
  }

  &--link {
    display: block;
    color: map-get($theme-colors, charcoal);

    &:hover {
      color: map-get($theme-colors, blue);
      text-decoration: none;

      .our-spaces--thumbnail {
        transform: scale(1.03);
      }

      .our-spaces--thumbnail-ctn::after {
        opacity: 0.2;
      }
    }
  }
}

.card-columns {
  @include media-breakpoint-up(sm) {
    column-count: 2;
  }

  @include media-breakpoint-up(md) {
    column-count: 3;
    column-gap: 1.875vw;
  }

  @include media-breakpoint-up(xl) {
    column-gap: 27px;
  }

  .card {
    margin-bottom: 0;
  }
}
