.breadcrumb {
  background: none;
  padding-left: 0.25em;
  padding-right: 0.25em;

  &-item {
    &.active {
      color: lighten(map-get($theme-colors, charcoal), 36%);

      .theme-dark & {
        color: $white;
      }
    }
  }
}

.section {
  padding-top: to-vw(70, xs);
  padding-bottom: to-vw(70, xs);
  position: relative;

  @include media-breakpoint-up(sm) {
    padding-top: to-vw(75, sm);
    padding-bottom: to-vw(60, sm);
  }

  @include media-breakpoint-up(md) {
    padding-top: to-vw(75, md);
    padding-bottom: to-vw(60, md);
  }

  @include media-breakpoint-up(lg) {
    padding-top: to-vw(125, lg);
    padding-bottom: to-vw(60, lg);
  }

  @include media-breakpoint-up(xl) {
    padding-top: to-vw(125, xl);
    padding-bottom: to-vw(60, xl);
  }

  .page-header & {
    padding-top: 0 !important;
  }

  &--bkg {
    position: absolute;
    top: 0;
    bottom: 0;
    max-width: 100%;
    flex-basis: 100%;
    margin-right: -$om-xs;
    margin-left: -$om-xs;
    overflow: hidden;

    &-image {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;

      &-ctn {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }

    &-video-ctn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      width: 640 / 360 * 100%;

      iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 4 / 3 * 100%;
        min-height: 100vh;
        min-width: 4 / 3 * 100vh;
      }
    }
  }

  &--building {
    padding-top: to-vw(10, xs);
    padding-bottom: to-vw(10, xs);

    @include media-breakpoint-up(sm) {
      padding-top: to-vw(60, sm);
      padding-bottom: to-vw(60, sm);
    }

    @include media-breakpoint-up(md) {
      padding-top: to-vw(60, md);
      padding-bottom: to-vw(60, md);
    }

    @include media-breakpoint-up(lg) {
      padding-top: to-vw(60, lg);
      padding-bottom: to-vw(60, lg);
    }

    @include media-breakpoint-up(xl) {
      padding-top: to-vw(60, xl);
      padding-bottom: to-vw(60, xl);
    }

    &-address {
      padding-bottom: to-vw(56, xs);

      @include media-breakpoint-up(sm) {
        padding-bottom: to-vw(60, sm);
      }

      @include media-breakpoint-up(md) {
        padding-bottom: to-vw(60, md);
      }

      @include media-breakpoint-up(lg) {
        padding-bottom: to-vw(60, lg);
      }

      @include media-breakpoint-up(xl) {
        padding-bottom: to-vw(60, xl);
      }
    }

    &-img {
      width: 100%;
      height: auto;
    }

    &-summary-text {
      @include media-breakpoint-up(lg) {
        p {
          max-width: 20em;
        }
      }
    }
  }

  &--space {
    &-header {
      padding-top: $om-xs;
      padding-bottom: to-vw(24, xs);

      @include media-breakpoint-up(sm) {
        padding-top: to-vw(60, sm);
        padding-bottom: to-vw(48, sm);
      }

      @include media-breakpoint-up(md) {
        padding-top: to-vw(60, md);
        padding-bottom: to-vw(48, md);
      }

      @include media-breakpoint-up(lg) {
        padding-top: to-vw(60, lg);
        padding-bottom: to-vw(48, lg);
      }

      @include media-breakpoint-up(xl) {
        padding-top: to-vw(60, xl);
        padding-bottom: to-vw(48, xl);
      }
    }

    &-details {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }

  &--news-related .card-deck {
    margin-top: 2em;
  }
}

.content-row {
  padding-top: to-vw(90, xs);
  padding-bottom: to-vw(54, xs);

  @include media-breakpoint-up(sm) {
    padding-top: to-vw(75, sm);
    padding-bottom: to-vw(50, sm);
  }

  @include media-breakpoint-up(md) {
    padding-top: to-vw(75, md);
    padding-bottom: to-vw(50, md);
  }

  @include media-breakpoint-up(lg) {
    padding-top: to-vw(75, lg);
    padding-bottom: to-vw(50, lg);
  }

  @include media-breakpoint-up(xl) {
    padding-top: to-vw(75, xl);
    padding-bottom: to-vw(50, xl);
  }

  .home &:last-of-type {
    padding-bottom: 0 !important;
  }
}

@include bleed-setup-xs();
@include bleed-setup(sm);
@include bleed-setup(md);
@include bleed-setup(lg);
@include bleed-setup(xl);

.component {
  position: relative;

  .single-post & {
    margin-bottom: 6.25%;
  }

  &--bkg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: $ggh;
    left: $ggh;

    @include media-breakpoint-down(sm) {
      .bleed-left-mobile & {
        left: 0;
      }

      .bleed-right-mobile & {
        right: 0;
      }
    }

    @include media-breakpoint-up(md) {
      .bleed-left & {
        left: 0;
      }

      .bleed-right & {
        right: 0;
      }
    }

    .full-bleed &,
    .full-bleed-mobile & {
      right: 0;
      left: 0;
    }

    .full-bleed-bkg & {
      @include media-breakpoint-down(xs) {
        right: -$om-xs + $ggh-xs;
        left: -$om-xs + $ggh-xs;
      }

      @include media-breakpoint-only(sm) {
        right: to-vw(-$outer-margin, sm) + $ggh;
        left: to-vw(-$outer-margin, sm) + $ggh;
      }

      @include media-breakpoint-only(md) {
        right: to-vw(-$outer-margin, md) + $ggh;
        left: to-vw(-$outer-margin, md) + $ggh;
      }

      @include media-breakpoint-only(lg) {
        right: to-vw(-$outer-margin, lg) + $ggh;
        left: to-vw(-$outer-margin, lg) + $ggh;
      }

      @include media-breakpoint-up(xl) {
        right: to-vw(-$outer-margin, xl) + $ggh;
        left: to-vw(-$outer-margin, xl) + $ggh;
      }
    }

    & + [class*="-content"] {
      position: relative;
      z-index: 1;
    }
  }

  &--contact,
  &--location-address,
  &--location-notify,
  &--text.pad-sides, // use only this in the future!
  .contact &--text.bleed-right,
  .contact &--text.bleed-left,
  &--banner &--text.bleed-right,
  &--banner &--text.bleed-left {
    padding: to-vw(55, xs) $om-xs !important;

    @include media-breakpoint-up(sm) {
      padding: to-vw(50, sm) to-vw(41.667, sm) !important;
    }

    @include media-breakpoint-up(md) {
      padding: to-vw(50, md) to-vw(41.667, md) !important;
    }

    @include media-breakpoint-up(lg) {
      padding: to-vw(50, lg) to-vw(41.667, lg) !important;
    }

    @include media-breakpoint-up(xl) {
      padding: to-vw(50, xl) to-vw(41.667, xl) !important;
    }
  }

  &--features {
    @extend .full-bleed-bkg;

    padding-top: 8.33333%;
    padding-bottom: 8.33333%;
    // margin-top: -3.5%;

    @include media-breakpoint-down(xs) {
      padding-top: to-vw(130, xs);
      padding-bottom: to-vw(130, xs);
      // margin-top: -13%;
    }

    & .component--bkg {
      background-color: $white;
    }
  }

  &--contact {
    &-content {
      position: relative;
      z-index: 1;
    }
  }
}
