.component--aside {
  margin-bottom: to-vw(-40, xs);

  @include media-breakpoint-up(sm) {
    padding: to-vw(50, sm) to-vw(42, sm);
    margin-bottom: to-vw(-40, sm);
  }

  @include media-breakpoint-up(md) {
    padding: to-vw(50, md) to-vw(42, md);
    margin-bottom: to-vw(-40, md);
  }

  @include media-breakpoint-up(lg) {
    padding: to-vw(50, lg) to-vw(42, lg);
    margin-bottom: to-vw(-40, lg);
  }

  @include media-breakpoint-up(xl) {
    padding: to-vw(50, xl) to-vw(42, xl);
    margin-bottom: to-vw(-40, xl);
  }

  &.pull-right {
    @include media-breakpoint-up(sm) {
      margin-right: to-vw(-$outer-margin, sm);
    }

    @include media-breakpoint-up(md) {
      margin-right: to-vw(-$outer-margin, md);
    }

    @include media-breakpoint-up(lg) {
      margin-right: to-vw(-$outer-margin, lg);
    }

    @include media-breakpoint-up(xl) {
      margin-right: to-vw(-$outer-margin, xl);
    }
  }

  &.pull-left {
    @include media-breakpoint-up(sm) {
      margin-top: to-vw(125, sm);
      margin-left: to-vw(-$outer-margin, sm);
      padding-left: to-vw($outer-margin, sm);
    }

    @include media-breakpoint-up(md) {
      margin-top: to-vw(125, md);
      margin-left: to-vw(-$outer-margin, md);
      padding-left: to-vw($outer-margin, md);

      .component--aside-text {
        margin-left: calc(1 / 9 * 100% + #{$grid-gutter-width / 2});
        margin-right: calc(2 / 9 * 100% + #{$grid-gutter-width});
      }
    }

    @include media-breakpoint-up(lg) {
      margin-top: to-vw(125, lg);
      margin-left: to-vw(-$outer-margin, lg);
      padding-left: to-vw($outer-margin, lg);
    }

    @include media-breakpoint-up(xl) {
      margin-top: to-vw(125, xl);
      margin-left: to-vw(-$outer-margin, xl);
      padding-left: to-vw($outer-margin, xl);
    }
  }

  &-image {
    width: 100%;
    height: auto;

    &-ctn {
      &.position-after {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
      }
    }
  }
}

@include aside-setup(sm);
@include aside-setup(md);
@include aside-setup(lg);
@include aside-setup(xl);
