.component--banner {
  // min-height: calc(var(--vh, 1vh) * 100);
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: to-vw(145, xs);
  padding-bottom: to-vw(70, xs);
  margin-bottom: to-vw(-70, xs);
  position: relative;

  @include media-breakpoint-down(xs) {
    .careers & {
      padding-top: to-vw(100, xs);
      min-height: 50vh;
    }

    .our-spaces & {
      margin-bottom: to-vw(-70, xs);
    }
  }

  @include media-breakpoint-up(sm) {
    min-height: 700 / 1440 * 100vw;
    // min-height: 48.6vw;
    padding-top: to-vw(115, sm);
    padding-bottom: to-vw(40, sm);
    margin-bottom: to-vw(-60, sm);
  }

  @include media-breakpoint-up(md) {
    padding-top: to-vw(120, md);
    padding-bottom: to-vw(40, md);
    margin-bottom: to-vw(-60, md);
  }

  @include media-breakpoint-up(lg) {
    padding-top: to-vw(160, lg);
    padding-bottom: to-vw(40, lg);
    margin-bottom: to-vw(-60, lg);
  }

  @include media-breakpoint-up(xl) {
    padding-top: to-vw(160, xl);
    padding-bottom: to-vw(40, xl);
    margin-bottom: to-vw(-60, xl);
  }

  &-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;

    &-ctn {
      position: absolute;
      top: 0;
      right: -$om-xs;
      bottom: 0;
      left: -$om-xs;

      @include media-breakpoint-up(sm) {
        right: to-vw(-$outer-margin, sm);
        left: to-vw(-$outer-margin, sm);
      }

      @include media-breakpoint-up(md) {
        right: to-vw(-$outer-margin, md);
        left: to-vw(-$outer-margin, md);
      }

      @include media-breakpoint-up(lg) {
        right: to-vw(-$outer-margin, lg);
        left: to-vw(-$outer-margin, lg);
      }

      @include media-breakpoint-up(xl) {
        right: to-vw(-$outer-margin, xl);
        left: to-vw(-$outer-margin, xl);
      }

      .single-building & {
        &::after {
          background-color: rgba(map-get($theme-colors, charcoal), 0.3);
          display: block;
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }
    }
  }

  .home & {
    justify-content: center;
    padding-bottom: to-vw(40, xs);

    @include media-breakpoint-up(sm) {
      min-height: 1284 / 1440 * 100vw;
    }
  }

  .about-us & {
    @include media-breakpoint-up(sm) {
      min-height: 800 / 1440 * 100vw;
    }
  }

  .careers & {
    @include media-breakpoint-up(sm) {
      min-height: 596 / 1440 * 100vw;
    }
  }

  .our-spaces & {
    min-height: 0 !important;
    transition: opacity 0.75s ease-out;
  }

  .news & {
    &:not(.theme-dark) {
      @include media-breakpoint-up(sm) {
        min-height: 775 / 1440 * 100vw;
      }
    }
  }

  .our-spaces.hero-scrolled & {
    opacity: 0;
  }
}
