.btn {
  border-radius: 2.25em;
  padding: 0.625em 1.5em;
  text-decoration: none;

  @include media-breakpoint-up(sm) {
    border-radius: 1.5em;
  }

  &-secondary {
    background-color: map-get($theme-colors, charcoal);
    border: none;
    color: $white;
    transition: all 0.3s ease-in-out;
    -webkit-appearance: none;
    appearance: none;

    &:hover {
      background-color: map-get($theme-colors, charcoal) !important;
      border: none;
      color: $white !important;
    }

    .theme-dark &,
    .theme-charcoal & {
      background-color: $white;
      color: map-get($theme-colors, charcoal);

      &:hover {
        background-color: map-get($theme-colors, charcoal) !important;
        color: $white !important;
      }
    }
  }

  &-outline-secondary {
    border-color: map-get($theme-colors, charcoal);
    border-width: 2px;
    border-style: solid;
    color: map-get($theme-colors, charcoal);
    transition: all 0.3s ease-in-out;
    -webkit-appearance: none;
    appearance: none;

    &:hover {
      background-color: map-get($theme-colors, charcoal) !important;
      border-color: map-get($theme-colors, charcoal);
      color: $white !important;
    }

    &:active {
      background-color: map-get($theme-colors, blue) !important;
      border-color: map-get($theme-colors, blue) !important;
    }

    &:focus,
    &:active {
      box-shadow: 0 0 0 0.2em map-get($theme-colors, blue) !important;
    }

    .theme-dark &,
    .theme-charcoal & {
      border-color: $white;
      color: $white;

      &:hover {
        background-color: $white !important;
        border-color: $white;
        color: map-get($theme-colors, charcoal) !important;
      }
    }
  }

  &-share {
    background-color: map-get($theme-colors, charcoal);
    width: 21px;
    height: 21px;
    display: inline-block;
    display: flex;
    margin-right: 0.25em;
    border-radius: 0.25em;
    color: $white;

    .social-icon {
      transition: color 0.3s ease-in-out;
    }

    &:hover {
      color: map-get($theme-colors, blue) !important;
      text-decoration: none !important;

      .social-icon {
        color: map-get($theme-colors, blue) !important;
      }
    }

    .zoom-social_icons-list-span {
      background: none !important;
    }

    .material-icons {
      margin: auto;
      font-size: 1.2em;
    }

    &--group {
      margin: 0 3em 2em;
      display: flex;
      position: relative;

      &::before {
        position: absolute;
        top: 50%;
        left: -2.5em;
        transform: translateY(-50%);
        padding-left: 0.5em;
        color: map-get($theme-colors, charcoal);
        font-size: 1.5em;
        font-family: $font-family-icon;
        content: "share";
        font-feature-settings: "liga";
        -webkit-font-feature-settings: "liga";
        transition: all 0.3s ease-in-out;
      }
    }
  }

  &-text {
    padding: 0.5em 0;
    position: relative;
    border-radius: 0;
    color: map-get($theme-colors, charcoal);
    transition: color 0.3s ease-in-out;
    font-size: to-vw(15, xs);
    line-height: calc(19 / 15);

    @include media-breakpoint-up(sm) {
      font-size: to-vw(15, sm);
    }

    @include media-breakpoint-up(md) {
      font-size: to-vw(15, md);
    }

    @include media-breakpoint-up(lg) {
      font-size: to-vw(15, lg);
    }

    @include media-breakpoint-up(xl) {
      font-size: to-vw(15, xl);
    }

    &.news-listing--link {
      font-size: to-vw(16, xs);
      line-height: calc(22 / 16);

      @include media-breakpoint-up(sm) {
        font-size: to-vw(13.33333, sm);
        line-height: calc(32 / 22);
      }

      @include media-breakpoint-up(md) {
        font-size: to-vw(13.33333, md);
      }

      @include media-breakpoint-up(lg) {
        font-size: to-vw(13.33333, lg);
      }

      @include media-breakpoint-up(xl) {
        font-size: to-vw(13.33333, xl);
      }
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0.625em;
      border-bottom: 1px solid map-get($theme-colors, charcoal);
      transition: border-color 0.3s ease-in-out;
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translateY(-50%);
      padding-left: 0.5em;
      color: map-get($theme-colors, blue);
      font-size: 1.2em;
      font-family: $font-family-icon;
      content: "arrow_forward";
      font-feature-settings: "liga";
      -webkit-font-feature-settings: "liga";
      transition: all 0.3s ease-in-out;
    }

    .breadcrumb-item &::after {
      left: auto;
      right: 100%;
      padding-left: 0;
      padding-right: 0.5em;
      content: "arrow_back";
    }

    &:hover {
      text-decoration: none;
      color: map-get($theme-colors, blue) !important;

      &::before {
        border-bottom-color: map-get($theme-colors, blue) !important;
      }

      &::after {
        transform: translateY(-50%) translateX(25%);
        // color: map-get($theme-colors, red) !important;
      }
    }

    .theme-white & {
      &::after {
        color: map-get($theme-colors, blue);
      }
    }

    .theme-blue &,
    .space-header--contacts & {
      &::after {
        color: map-get($theme-colors, charcoal);
      }
    }

    .theme-charcoal &,
    .theme-dark & {
      color: $white;

      &::before {
        border-bottom-color: $white;
      }

      &::after {
        color: map-get($theme-colors, blue);
      }

      &:hover {
        color: map-get($theme-colors, yellow) !important;

        &::before {
          border-bottom-color: map-get($theme-colors, yellow) !important;
        }

        &::after {
          color: map-get($theme-colors, yellow) !important;
        }
      }
    }
  }
}
