//////////////////////////////////////////////////////////
////  Polite Dept. | Vars
//////////////////////////////////////////////////////////

:root {

  --theme-component-card-image-size: 40px;
  --theme-component-card-image-size--sm: 42px;
  --theme-component-card-image-size--md: 50px;
  --theme-component-card-image-size--lg: 60px;
  --theme-component-card-image-size--xl: 70px;

}

//////////////////////////////////////////////////////////
////  Polite Dept. | Styles
//////////////////////////////////////////////////////////

.component--cards {

  .card {
    &__image {
      width: var(--theme-component-card-image-size);
      height: auto;
      a, img, svg {
        display: block;
        height: auto;
        width: 100%;
        max-width: none;
      }
    }
  }

  &-card {
    background: none;
    border: none;
  }

  &-title {
    margin-bottom: 1.375em;
  }

  &-img {
    width: fit-content;
    max-width: to-vw(125, xs);

    @include media-breakpoint-up(sm) {
      max-width: to-vw(125, sm);
    }

    @include media-breakpoint-up(md) {
      max-width: to-vw(125, md);
    }

    @include media-breakpoint-up(lg) {
      max-width: to-vw(125, lg);
    }

    @include media-breakpoint-up(xl) {
      max-width: to-vw(125, xl);
    }
  }

  &-body {
    padding: to-vw(25, xs) 0;

    @include media-breakpoint-up(sm) {
      padding: to-vw(25, sm) 0;
    }

    @include media-breakpoint-up(md) {
      padding: to-vw(25, md) 0;
    }

    @include media-breakpoint-up(lg) {
      padding: to-vw(25, lg) 0;
    }

    @include media-breakpoint-up(xl) {
      padding: to-vw(25, xl) 0;
    }
  }

  @include media-breakpoint-up(sm) {

    .card {
      &__image {
        width: var(--theme-component-card-image-size--sm);
      }
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    .card {
      &__image {
        width: var(--theme-component-card-image-size--md);
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    .card {
      &__image {
        width: var(--theme-component-card-image-size--lg);
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    .card {
      &__image {
        width: var(--theme-component-card-image-size--xl);
      }
    }

  } // min width xl

}
