// contact form
.section--form {
  .gform_fields {
    @include media-breakpoint-up(sm) {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -$ggh;
    }
  }

  .awsm-job-single-wrap {
    @extend .row;
  }

  .awsm-job-content {
    width: 100%;
    padding: 0 $ggh-xs;

    @extend .col-sm-10;
    @extend .offset-sm-1;
    @extend .col-md-6;
    @extend .col-lg-6;
    @extend .col-xl-6;

    @include media-breakpoint-up(sm) {
      padding: 0 $ggh !important;
    }
  }

  .awsm-job-form {
    width: 100%;
    padding: 0 $ggh-xs;

    @extend .col-sm-10;
    @extend .offset-sm-1;
    @extend .offset-md-0;
    @extend .col-md-4;
    @extend .offset-lg-1;
    @extend .col-lg-3;
    @extend .col-xl-3;

    @include media-breakpoint-up(sm) {
      padding: 0 $ggh !important;
    }
  }

  .awsm-job-form-inner {
    box-shadow: none;
    padding: 0;
    // margin: 0 #{-$ggh-xs} !important;
    width: auto;

    @include media-breakpoint-up(sm) {
      margin: 0 #{-$ggh} !important;
    }

    h2 {
      @extend h4;

      padding: 0;
      margin: 2em 0;

      @include media-breakpoint-up(sm) {
        padding: 0 #{$ggh};
        margin: 0 0 2em;
      }
    }
  }

  .awsm-job-form-group,
  .gfield {
    position: relative;
    width: 100%;
    margin-bottom: 2em;

    @include media-breakpoint-up(sm) {
      padding-left: $ggh;
      padding-right: $ggh;
      margin-bottom: 3.75em;

      &--width {
        &-half {
          max-width: 50%;
          flex-basis: 50%;
        }

        &-full {
          max-width: 100%;
          flex-basis: 100%;
        }
      }
    }
  }

  .hint {
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 1em;
    right: 1em;
    font-size: 0.7em;
    text-align: right;
    line-height: 1;
    color: map-get($theme-colors, red);
    transition: opacity 0.3s ease-in-out;

    &.show {
      opacity: 1;
    }
  }

  .awsm-job-form-group label,
  .gfield_label {
    padding-left: 0;
    font-size: to-vw(13.33333, xs);
    font-size: 1em;
    will-change: font-size, top;
    color: map-get($theme-colors, lightcharcoal);
    transition: font-size 0.3s ease-out, top 0.3s ease-out;

    @include media-breakpoint-up(sm) {
      font-size: to-vw(13.33333, sm);
      line-height: calc(32 / 22);
    }

    @include media-breakpoint-up(md) {
      font-size: to-vw(13.33333, md);
    }

    @include media-breakpoint-up(lg) {
      font-size: to-vw(13.33333, lg);
    }

    @include media-breakpoint-up(xl) {
      font-size: to-vw(13.33333, xl);
    }

    &--checkbox {
      padding-left: 2.5em;
      font-size: 0.75em;
    }
  }

  .awsm-job-form-group label:not([for="awsm-cover-letter"]):not([for="awsm-application-file"]),
  .gfield--width-half .gfield_label {
    position: absolute;
    top: 0.125em;
    left: $ggh;
    color: map-get($theme-colors, charcoal);
  }

  .gfield--width-half.focus .gfield_label,
  .gfield--width-half.filled .gfield_label,
  .awsm-job-form-group.focus label:not([for="awsm-cover-letter"]):not([for="awsm-application-file"]),
  .awsm-job-form-group.filled label:not([for="awsm-cover-letter"]):not([for="awsm-application-file"]) {
    top: -1.25em;
    color: map-get($theme-colors, lightcharcoal);
  }

  // .gfield_description {
  //   // margin-top: -5em;
  // }
  input[type="text"].awsm-job-form-field,
  input[type="email"].awsm-job-form-field,
  input[type="tel"].awsm-job-form-field,
  .ginput_container input {
    border: none;
    border-bottom: 2px solid map-get($theme-colors, charcoal);
    padding: 0.25em 0.5em 0.05em 0;
  }

  textarea.awsm-job-form-field,
  .ginput_container textarea {
    border: 2px solid map-get($theme-colors, charcoal);
    padding: 0.25em 1em 0.05em;
  }

  input[type="text"].awsm-job-form-field,
  input[type="email"].awsm-job-form-field,
  input[type="tel"].awsm-job-form-field,
  textarea.awsm-job-form-field,
  .ginput_container input,
  .ginput_container textarea {
    width: 100%;
    appearance: none;
    background: none;
    border-radius: 0;
    font-family: $font-family-sans-serif;
    color: map-get($theme-colors, charcoal);
    font-size: to-vw(15, xs);
    line-height: calc(40 / 30);

    @include media-breakpoint-up(sm) {
      font-size: to-vw(15, sm);
      line-height: calc(32 / 22);
    }

    @include media-breakpoint-up(md) {
      font-size: to-vw(15, md);
    }

    @include media-breakpoint-up(lg) {
      font-size: to-vw(15, lg);
    }

    @include media-breakpoint-up(xl) {
      font-size: to-vw(15, xl);
    }

    &:focus {
      background: none;
      border-color: map-get($theme-colors, blue);
      outline: 1px solid map-get($theme-colors, lightgrey);
    }
  }

  // .gform_footer {
  //   margin: 3em 0;
  // }

  .gform_button {
    -webkit-appearance: button;
    appearance: button;
    background: none;
    padding: 0.5em 1.25em;
    border: 2px solid map-get($theme-colors, charcoal);
    font-size: to-vw(13.33333, xs);
    border-radius: to-vw(13.33333 / 2, xs);
    color: map-get($theme-colors, charcoal);

    @include media-breakpoint-up(sm) {
      font-size: to-vw(13.33333, sm);
      line-height: calc(32 / 22);
    }

    @include media-breakpoint-up(md) {
      font-size: to-vw(13.33333, md);
    }

    @include media-breakpoint-up(lg) {
      font-size: to-vw(13.33333, lg);
    }

    @include media-breakpoint-up(xl) {
      font-size: to-vw(13.33333, xl);
    }

    @extend .btn-outline-secondary;

    &:hover {
      background-color: map-get($theme-colors, blue) !important;
      color: map-get($theme-colors, charcoal) !important;
      border-color: map-get($theme-colors, blue) !important;
    }
  }

  .gform_submission_error {
    margin-bottom: 1em;
    font-size: to-vw(15, xs);
    font-weight: 700;
    line-height: calc(19 / 15);

    @include media-breakpoint-up(sm) {
      font-size: to-vw(15, sm);
    }

    @include media-breakpoint-up(md) {
      font-size: to-vw(15, md);
    }

    @include media-breakpoint-up(lg) {
      font-size: to-vw(15, lg);
    }

    @include media-breakpoint-up(xl) {
      font-size: to-vw(15, xl);
    }
  }
}

//footer form
.form-mini {
  .gform_wrapper {
    border: 2px solid map-get($theme-colors, charcoal);
    position: relative;
    height: 3.75em;
    margin: 2em 0;
    box-shadow: inset 0 0 0.25em rgba(map-get($theme-colors, charcoal), 0.5);

    @include media-breakpoint-up(sm) {
      height: 3.125em;
    }
  }

  input[type="text"],
  input[type="email"],
  input[type="submit"] {
    background: none;
    appearance: none;
    border: none !important;
    border-radius: 0;
    width: 100%;
    // height: to-vw(41.667, xs);
    padding: 0.5em 3em 0.5em 0.5em !important;
  }

  input[type="text"],
  input[type="email"] {
    font-size: 1.5em !important;
    font-family: $font-family-sans-serif;

    @include media-breakpoint-up(sm) {
      font-size: 1.2em !important;
    }

    &:focus {
      outline: 2px solid map-get($theme-colors, blue);
      outline-offset: 2px;
    }
  }

  ::placeholder {
    font-size: 0.8333em;
  }

  .gform_validation_errors,
  .gfield_description {
    background-color: map-get($theme-colors, red);
    padding: 0.5em;
    margin: 2px 0 !important;
    position: absolute;
    right: -2px;
    bottom: 100%;
    left: -2px;
    color: $white;
    font-size: 0.9em;

    h2 {
      margin: 0;
      font-size: 1em !important;
    }
  }

  .gfield_description {
    top: 100%;
    bottom: auto;
  }

  .gfield.hidden_label .gfield_label {
    font-size: 0;
    color: transparent;
  }

  .ginput_container_email {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .gform_footer {
    margin: 0 !important;
    position: absolute;
    right: 2px;
    top: 2px;
    bottom: 2px;
    width: to-vw(37.667, xs);
    // height: to-vw(37.667, xs);

    @include media-breakpoint-up(sm) {
      width: to-vw(37.667, sm);
      // height: to-vw(37.667, sm);
    }

    @include media-breakpoint-up(md) {
      width: to-vw(37.667, md);
      // height: to-vw(37.667, md);
    }

    @include media-breakpoint-up(lg) {
      width: to-vw(37.667, lg);
      // height: to-vw(37.667, lg);
    }

    @include media-breakpoint-up(xl) {
      width: to-vw(37.667, xl);
      // height: to-vw(37.667, xl);
    }

    &::after {
      content: "arrow_forward";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
      color: #414042;
      font-size: 1.5em;
      font-family: $font-family-icon;
      font-feature-settings: "liga";
      transition: transform 0.3s;
    }

    &:hover {
      &::after {
        transform: translate(-25%, -50%);
      }
    }
  }

  input[type="submit"] {
    margin: 0 !important;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 1px;
    left: 0;
    width: 100%;
    cursor: pointer;
    font-size: 0;
  }
}

.form-mini.theme-dark {
  .gform_wrapper {
    border-color: $white;
  }

  input::placeholder,
  input[type="text"],
  input[type="email"],
  input[type="submit"],
  .gform_footer::after {
    color: $white;
  }

  input[type="submit"] {
    background-color: map-get($theme-colors, charcoal);
  }
}
