//////////////////////////////////////////////////////////
////  Icon Row | Vars
//////////////////////////////////////////////////////////

:root {

  --theme-icon-row-image-size: 94px;
  --theme-icon-row-image-size--sm: 58px;
  --theme-icon-row-image-size--md: 94px;
  --theme-icon-row-image-size--lg: 94px;
  --theme-icon-row-image-size--xl: 94px;

}

//////////////////////////////////////////////////////////
////  Icon Row | Styles
//////////////////////////////////////////////////////////

.iconrow {

  display: inline-flex;
  width: 100%;
  flex-flow: row wrap;
  position: relative;

  & + .iconrow {
    margin-top: 6em;
  }

  &__body {
    width: 100%;
  }

  &__image {
    width: 18.66667vw;
    height: auto;
    margin-left: -2.66667vw;
    a, img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  @include media-breakpoint-up(sm) {

    flex-flow: row nowrap;

    &__body {
      flex: 1;
    }

    &__image {
      position: absolute;
      left: -11.93056vw;
      top: -4.16667vw;
      width: 10.12726vw;
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    &__image {
      left: -8.19792vw;
      top: -3.125vw;
      width: 7.59544vw;
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &__image {
      left: -5.66935vw;
      top: -2.41935vw;
      width: 5.88034vw;
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__image {
      left: -4.16667vw;
      top: -2vw;
      width: 4.86108vw;
    }

  } // min width xl

}
