.component--image {
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  &.full-bleed-mobile {
    @include media-breakpoint-down(sm) {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  &.full-bleed {
    @include media-breakpoint-only(md) {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  &.bleed-right,
  &.bleed-left {
    @include media-breakpoint-up(md) {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  &.bleed-right-mobile,
  &.bleed-left-mobile {
    @include media-breakpoint-down(sm) {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  &-image {
    width: 100%;
    height: auto;

    @include media-breakpoint-up(md) {
      .bleed-left & {
        margin-left: 0;
      }

      .bleed-right & {
        margin-right: 0;
      }
    }
  }

  // &-ctn {
  //   @include media-breakpoint-down(xs) {
  //     .bleed-left-mobile & {
  //       margin-left: -$om-xs + $ggh-xs;
  //       width: calc(100% + #{$om-xs});
  //     }

  //     .bleed-right-mobile & {
  //       margin-right: -$om-xs + $ggh-xs;
  //       width: calc(100% + #{$om-xs});
  //     }
  //   }
  // }

  &-caption {
    margin: 1em calc((100% + #{$gg}) / 9 * 2) 1em calc((100% + #{$gg}) / 9 * 1);
    font-weight: 700;
  }

  .section--building & {
    padding-left: $ggh !important;
    padding-right: $ggh !important;
  }

  .home #Gallery & {
    position: relative;

    &-image {
      width: 100%;
      height: auto;

      &.image-1 {
        width: 937 / 1440 * 100%;
      }

      &.image-2 {
        position: absolute;
        top: 0;
        right: 0;
        width: 503 / 1440 * 100%;
      }

      &.image-3 {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 617  / 1440 * 100%;
      }
    }
  }
}

.link--our-spaces,
.link--image {
  position: relative;
  display: block;

  h3 {
    position: absolute;
    bottom: 0.75em;
    left: 2em;
    z-index: 1;
    color: white;

    &::after {
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translateY(-50%);
      padding-left: 0.5em;
      color: $white;
      font-size: 1em;
      font-family: $font-family-icon;
      content: "arrow_forward";
      font-feature-settings: "liga";
      -webkit-font-feature-settings: "liga";
      transition: all 0.3s ease-in-out;
    }
  }

  &:hover h3::after {
    transform: translateY(-50%) translateX(25%);
  }

  &::after {
    background-color: map-get($theme-colors, blue);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.25s;
  }

  &:hover::after {
    opacity: 0.2;
  }
}
