//////////////////////////////////////////////////////////
////  Link | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Link | Styles
//////////////////////////////////////////////////////////

.link {

  transition: unset;
  transition: background 280ms, border 280ms, color 280ms, opacity 280ms;
  color: inherit;
  display: inline-flex;
  width: auto;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  text-decoration: none;

  &__icon {
    transition: transform 280ms;
    height: 12px;
    width: auto;
    img, svg {
      display: block;
      height: 100%;
      width: auto;
    }
  }

  &__title {
    font-size: 3vw;
    transition: border 280ms, color 280ms;
    font-weight: 400;
    line-height: 1;
    border-bottom: 1px solid #fff;
    & + .link__icon {
      margin-left: 12px;
    }
  }

  &:hover {
    .link {
      &__icon {
        transform: translate3d( 10px, 0, 0 );
      }
      &__title {
        color: inherit;
        text-decoration: none;
        border-bottom-color: transparent;
      }
    }
  }

  @include media-breakpoint-up(sm) {

    &__icon {
      height: 16px;
    }

  } // min width sm

  @include media-breakpoint-up(md) {

    &__icon {
      height: 20px;
    }

    &__title {
      & + .link__icon {
        margin-left: 16px;
      }
    }

  } // min width md

  @include media-breakpoint-up(lg) {

    &__icon {
      height: 16px;
    }

    &__title {
      & + .link__icon {
        margin-left: 12px;
      }
    }

  } // min width lg

  @include media-breakpoint-up(xl) {

    &__icon {
      height: 20px;
    }

    &__title {
      & + .link__icon {
        margin-left: 16px;
      }
    }

  } // min width xl

}
