.message {

  p, li {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  @include media-breakpoint-up(sm) {} // min width sm

  @include media-breakpoint-up(md) {} // min width md

  @include media-breakpoint-up(lg) {} // min width lg

  @include media-breakpoint-up(xl) {} // min width xl

}
