.section--news {
  .breadcrumb {
    @include media-breakpoint-up(sm) {
      margin-top: -18%;
    }
  }
}

.component--news {
  .wp-block-quote {
    margin: 10% 0 10% calc((100% + #{$gg}) / 12 * 3);

    @include media-breakpoint-up(md) {
      margin-right: calc((100% + #{$gg}) / 8 * -1);
      margin-left: calc((100% + #{$gg}) / 8 * 1);
    }

    @include media-breakpoint-up(lg) {
      margin-right: calc((100% + #{$gg}) / 6 * -2);
      margin-left: calc((100% + #{$gg}) / 6 * 1);
    }
  }

  .wp-block-image {
    @include media-breakpoint-up(md) {
      margin: 10% calc((100% + #{$gg}) / 8 * -1);
    }

    @include media-breakpoint-up(lg) {
      margin: 10% calc((100% + #{$gg}) / 6 * -2) 10% calc((100% + #{$gg}) / 6 * -1);
    }

    img {
      height: auto;
    }
  }

  figcaption {
    font-weight: 700;

    @include media-breakpoint-up(md) {
      margin: 1em calc((100% + #{$gg}) / 10 * 1);
    }

    @include media-breakpoint-up(lg) {
      margin-right: calc((100% + #{$gg}) / 9 * 2);
      margin-left: calc((100% + #{$gg}) / 9 * 1);
    }
  }

  .home & {
    @extend .full-bleed-bkg;

    padding-top: to-vw(125, xs);

    @include media-breakpoint-up(sm) {
      padding-top: to-vw(125, sm);
    }

    @include media-breakpoint-up(md) {
      padding-top: to-vw(125, md);
    }

    @include media-breakpoint-up(lg) {
      padding-top: to-vw(125, lg);
    }

    @include media-breakpoint-up(xl) {
      padding-top: to-vw(125, xl);
    }

    .component--bkg {
      background-color: map-get($theme-colors, lightgrey);
    }
  }
}

.news-feature {
  padding-bottom: 0;

  &--image {
    height: 100% !important;
    align-self: flex-start;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
    object-position: center;

    &-ctn {
      padding-top: 100%;
      overflow: hidden;
      position: relative;
    }
  }

  &--link {
    &::after {
      color: map-get($theme-colors, blue);
    }
  }

  .component--banner-header-text {
    @include media-breakpoint-down(xs) {
      margin-bottom: 3em;
    }
  }
}

.news-listing {
  background: none;
  border: none;
  border-radius: 0;
  padding-bottom: to-vw(60, xs);

  @include media-breakpoint-up(md) {
    padding-bottom: 10em;
  }

  &--image {
    height: 100%;
    align-self: flex-start;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
    object-position: center;

    &-ctn {
      width: 46.32%;
      padding-top: 46.32%;
      overflow: hidden;
      position: relative;
    }
  }

  &--details {
    padding: 1em 0;
  }

  &--link {
    &::after {
      color: map-get($theme-colors, blue);
    }
  }

  &--ctn {
    @include media-breakpoint-up(sm) {
      display: grid;
      margin-right: -$ggh;
      margin-left: -$ggh;
      grid-template-columns: 50% 50%;
      justify-content: space-between;
      grid-gap: auto;
    }

    @include media-breakpoint-up(md) {
      grid-template-columns: 30% 30% 30%;
    }
  }
}
