.component--popup {
  position: relative;

  &-image {
    width: 100%;
    height: auto;
    will-change: transform;
    transition: transform 0.25s ease-in-out;

    &-ctn {
      position: relative;
      overflow: hidden;

      &::after {
        background-color: map-get($theme-colors, blue);
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        will-change: opacity;
        transition: opacity 0.25s;
      }
    }
  }

  &-content {
    padding: to-vw(17, xs) to-vw(25, xs) to-vw(27, xs);
    position: relative;

    @include media-breakpoint-up(sm) {
      padding: to-vw(17, sm) to-vw(25, sm) to-vw(51, sm);
    }

    @include media-breakpoint-up(md) {
      padding: to-vw(17, md) to-vw(25, md) to-vw(51, md);
    }

    @include media-breakpoint-up(lg) {
      padding: to-vw(17, lg) to-vw(25, lg) to-vw(51, lg);
    }

    @include media-breakpoint-up(xl) {
      padding: to-vw(17, xl) to-vw(25, xl) to-vw(51, xl);
    }

    &::after {
      display: block;
      position: absolute;
      top: 1.2em;
      right: 0.83333em;
      z-index: 1;
      width: 1em;
      height: 1em;
      color: map-get($theme-colors, charcoal);
      font-size: 1.2em;
      line-height: 1;
      font-family: $font-family-icon;
      content: "add";
      font-feature-settings: "liga";
      -webkit-font-feature-settings: "liga";
      transition: transform 0.3s ease-in-out;
    }
  }

  &.hover {
    .component--popup-image {
      &-ctn::after {
        opacity: 0.2;
      }
    }

    .component--popup-content {
      &::after {
        transform: scale(1.2);
      }
    }
  }

  &-btn {
    position: absolute;
    top: 0;
    right: $grid-gutter-width / 2;
    bottom: $grid-gutter-width;
    left: $grid-gutter-width / 2;
    width: calc(100% - #{$grid-gutter-width});
    display: block;
    appearance: none;
    background: none;
    border: none;
  }
}

.modal {
  padding-right: 0 !important;

  &-content {
    background-color: $white;
    border: none;
    border-radius: 0;
    min-height: 100vh;
  }

  &-header {
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: to-pct(15, xs) to-pct(50, xs);// + $grid-gutter-width / 2;
    border: none;

    @include media-breakpoint-up(sm) {
      padding: to-pct(12.5, sm) to-pct(50, sm);// + $grid-gutter-width / 2;
    }

    @include media-breakpoint-up(md) {
      padding: to-pct(12.5, md) to-pct(50, md);// + $grid-gutter-width / 2;
    }

    @include media-breakpoint-up(lg) {
      padding: to-pct(12.5, lg) to-pct(50, lg);// + $grid-gutter-width / 2;
    }

    @include media-breakpoint-up(xl) {
      padding: to-pct(12.5, xl) to-pct(50, xl);// + $grid-gutter-width / 2;
    }
  }

  &-close {
    background-color: $white;
    border: 1px solid map-get($theme-colors, blue);
    width: to-vw(45, xs);
    height: to-vw(45, xs);
    display: flex;
    justify-content: center;
    align-items: center;
    color: map-get($theme-colors, blue);
    font-weight: 700;

    @include media-breakpoint-up(sm) {
      width: to-vw(45, sm);
      height: to-vw(45, sm);
    }

    @include media-breakpoint-up(md) {
      width: to-vw(45, md);
      height: to-vw(45, md);
    }

    @include media-breakpoint-up(lg) {
      width: to-vw(45, lg);
      height: to-vw(45, lg);
    }

    @include media-breakpoint-up(xl) {
      width: to-vw(45, xl);
      height: to-vw(45, xl);
    }
  }

  &-body {
    padding: 0;

    &-header {
      padding-bottom: to-vw(27, xs);

      @include media-breakpoint-up(sm) {
        padding-bottom: to-vw(51, sm);
      }

      @include media-breakpoint-up(md) {
        padding-bottom: to-vw(51, md);
      }

      @include media-breakpoint-up(lg) {
        padding-bottom: to-vw(51, lg);
      }

      @include media-breakpoint-up(xl) {
        padding-bottom: to-vw(51, xl);
      }
    }

    &-content {
      padding-top: 2em;
      padding-bottom: 2em;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &-dialog {
    background-color: map-get($theme-colors, blue);
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  &.fade {
    .modal-dialog {
      transform-origin: left bottom;
      transform: scale(0.01);
      opacity: 0;
      will-change: transform, opacity;
      transition: all 0.75s;
    }

    .modal-content {
      opacity: 0;
      will-change: opacity;
      transition: opacity 0.5s ease 0.8s;
    }

    &.show {
      .modal-dialog {
        transform: scale(1);
        opacity: 1;
      }

      .modal-content {
        opacity: 1;
      }
    }
  }
}
