/* nth field background */
/* .acf-table > .ui-sortable > .acf-row:nth-of-type(2n + 1) .acf-row-handle {
  background: #fbfbfb;
}

.acf-table > .ui-sortable > .acf-row:nth-of-type(2n + 1) .acf-fields {
  background: #f0f0f0;
} */

/* field td */
.acf-table > .ui-sortable > .acf-row > td {
  border-top: 1px solid #666;
  position: relative;
  z-index: 1;
}
